@import '../../../styles/colors';
@import '../../../styles/mixins';
@import '../../../styles/variables';
@import '../../../styles/fonts';

.gallery-cubegon-card__container {
  border: 1px solid #75C3F5;
  position: relative;
  width: 100%;
  display: inline-block;
  text-align: center;
  box-sizing: border-box;
  border-radius: 8px;
  box-shadow: 0px 0px 8px 3px #59ADE3;

  .border-1 {
    border: 2px solid #194379;
    border-radius: 8px;
  }

  .border-2 {
    border: 3px solid #B0EDFB;
    border-radius: 8px;
  }

  .border-3 {
    border: 1px solid #1C3B50;
    border-radius: 8px;
    position: relative;
    display: flex;
    flex-direction: row;
  }

  .cubegon-image__container {
    z-index: 2;
    position: relative;
    background: #051527;
    @include transition-duration;

    .cubegon-name {
      position: absolute;
      font-size: 20px;
      color: $white;
      font-family: $f__baloobha;
      text-align: center;
      @include ellipsis;
      padding: 0 8px;
      bottom: 0;
      left: 0;
      right: 0;
    }

    .cubegon__image {
      display: block;
      width: 100%;
      height: auto;
      box-sizing: border-box;
      padding: 24px 0;
    }

    .header {
      background: #051527;
      position: absolute;
      color: $white;
      font-size: $font-size-small;
      z-index: 3;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      padding: 12px 12px 12px 8px;
      box-sizing: border-box;
      align-items: center;
      top: 0;
      left: 0;

      .id {
        .token-id {
          font-size: $font-size-medium;
          padding-right: 8px;
          font-family: $f__baloobha;
          padding-top: 3px;
        }
      }

      .cubegon__badges {
        display: flex;

        .badge__tier-wrapper, .badge__origin-wrapper {
          width: 32px;
          height: 32px;
          position: relative;
          margin-right: 8px;
          img {
            position: absolute;
            left: 50%;
            top: 50%;
            @include transform(translateX(-50%) translateY(-50%));
            pointer-events: none;
          }
        }

        .badge__tier-wrapper {
          img {width: 100px;}
        }
        .badge__origin-wrapper {
          img {width: 94px;}
        }
      }

    }

    .detail-stats__container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: absolute;
      top: 20px;
      left: 0;
      bottom: 0;
      width: 100%;
      background: #051527;
      z-index: 2;
      opacity: 1;
      @include transition-duration;

      .content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        color: $white;
        font-family: $f__baloobha;
        padding: 5px 12px;
        font-weight: $font-weight-normal;

        .widget__text-image {
          span {
            padding-top: 4px;
          }
        }

        .right {
          padding-top: 4px;
        }
      }

      &.hidden {
        z-index: 0;
        opacity: 0;
        @include transition-duration;
      }
    }
  }
  
  .type__image {
    // position: absolute;
    height: 28px;
    width: auto;
    padding-bottom: 2px;
    // top: 0;
    // left: 0;
    // z-index: 3;
  }

  .stats__container {
    display: flex;
    flex-direction: column;
    background: $regal_blue;
    color: $white;
    padding: 0 12px 0 12px;
    z-index: 2;
    font-family: $f__baloobha;
    align-items: center;
    justify-content: flex-end;
    position: relative;

    .fas {
      position: absolute;
      top: 3px;
      right: 3px;
      height: 20px;
      width: auto;
    }

    .cell {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      //border-bottom: 1px solid $white;
      height: 25%;
      padding: 0 0 8px 0;
      &:last-child {
        border-bottom: none;
      }
    }

    .number {
      font-size: 20px;
      font-family: $f__baloobha;
      color: rgb(160, 242, 260);
      font-weight: $font-weight-normal;
    }

    .label {
      font-family: $f__baloobha;
      font-size: $font-size-small;
      font-weight: $font-weight-normal;
    }
  }
}