.model3D {
  position: relative;
  width: 100%;

  .model3D__buttons {
    position: absolute;
    top: 8px;
    right: 16px;
    .layer {
      cursor: pointer;
      overflow: visible;
      width: 40px;
      height: 40px;
      background-image: url('../../../shared/img/icons/icon-view.png');
      background-size: 100% auto;
      &.active {
        background-image: url('../../../shared/img/icons/icon-view-front.png');

      }
    }
  }

  .canvas-wrapper {
    position: relative;
    width: 600px;
    max-width: 100%;
    padding-top: 100%;
  }

  canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    top: 0;
    left: 0;
    display: block;
  }
}