@import '../../styles/colors';
@import '../../styles/mixins';
@import '../../styles/variables';

@keyframes popup-open {
  0%   {
    opacity: 0;
    @include transform(translateY(-5%));
  }
  100%   {
    opacity: 1;
    @include transform(translateY(0));
  }
}

@keyframes popup-close {
  0%   {
    opacity: 1;
    @include transform(translateY(0));
  }
  100%   {
    opacity: 0;
    @include transform(translateY(-5%));
  }
}

.widget__popup {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1001;
  background-color: rgba(0, 0, 0, 0.65);
  padding-top: 80px;
  text-align: center;
  @include mobile {
    padding-top: 60px;
  }
  @include transition-duration;

  &.open {
    display: block;
    @include animation-keyframes(popup-open, 0.2s, 1);
  }
  &.close {
    display: none;
    @include animation-keyframes(popup-close, 0.2s, 1);
  }

  &.right {
    background-color: transparent;
    text-align: right;
  }

  .widget__popup-wrap {
    position: relative;
    display: inline-flex;
    width: 700px;
    max-width: 100%
  }

  &.small {
    .widget__popup-wrap {
      // width: 600px;
    }
  }

  &.big {
    .widget__popup-wrap {
      width: 900px;
    }
  }
  &.large {
    .widget__popup-wrap {
      width: 1100px;
    }
  }
  &.full {
    padding-top: 0;
    .widget__popup-wrap {
      width: 100%;
      height: 100%;
    }
    .widget__popup-content {
      max-height: 100%;
      height: 100%;
    }
  }

  .widget__popup-close {
    position: absolute;
    top: 8px;
    right: 8px;
    font-size: 24px;
    color: $c__blue-1;
    cursor: pointer;
    &:hover {
      text-shadow: 0 0 4px $c__blue-1;
    }
  }

  .widget__popup-content {
    width: 100%;
    height: 100%;
    max-height: calc(100vh - 100px);
    margin: 0 auto;
    background-color: $regal_blue;
    box-shadow: 0 0 10px -1px $c__blue-2;
    color: $white95;

    overflow: visible;
    position: relative;
    @include mobile {
      overflow-x: hidden;
      overflow-y: auto;
    }
  }

  &.scroll {
    .widget__popup-content {
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
    }
  }
}