@import '../../styles/colors';
@import '../../styles/mixins';
@import '../../styles/variables';
@import '../../styles/fonts';

.cubegon-card__container {
  border: 1px solid #75C3F5;
  position: relative;
  width: 100%;
  display: inline-block;
  text-align: center;
  box-sizing: border-box;
  border-radius: 8px;
  box-shadow: 0px 0px 8px 3px #59ADE3;

  .border-1 {
    border: 2px solid #194379;
    border-radius: 8px;
  }

  .border-2 {
    border: 3px solid #B0EDFB;
    border-radius: 8px;
  }

  .border-3 {
    border: 1px solid #1C3B50;
    border-radius: 8px;
    position: relative;
  }

  .cubegon-image__container {
    z-index: 2;
    position: relative;
    background: #051527;
    @include transition-duration;

    .cubegon__image {
      display: block;
      width: 100%;
      height: auto;
      box-sizing: border-box;
      padding: 24px 0;
    }

    .energy {
      z-index: 1;
      position: absolute;
      bottom: -8px;
      right: 0;
      height: 16px;

      .energy-btn {
        display: flex;
        align-items: center;
        img {
          height: 20px;
          width: auto;
          margin-top: -4px;
        }
      }
    }

    .header {
      // background: #051527;
      position: absolute;
      color: $white;
      font-size: $font-size-small;
      z-index: 3;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      padding: 12px 12px 12px 8px;
      box-sizing: border-box;
      align-items: center;
      top: 0;
      left: 0;

      .id {
        display: flex;
        flex-direction: row;
        align-items: center;
        .fas {
          height: 24px;
          width: auto;
          display: block;
          margin-left: 5px;
        }
        .token-id {
          font-size: $font-size-medium;
          padding-right: 8px;
          font-family: $f__baloobha;
          padding-top: 3px;
        }
      }

      .cubegon__badges {
        display: flex;

        .badge__tier-wrapper, .badge__origin-wrapper {
          width: 40px;
          height: 40px;
          position: relative;
          margin-right: 2px;
          img {
            position: absolute;
            left: 50%;
            top: 50%;
            @include transform(translateX(-50%) translateY(-50%));
            pointer-events: none;
          }
        }

        .badge__tier-wrapper {
          img {width: 100px;}
        }
        .badge__origin-wrapper {
          img {width: 94px;}
        }
      }

    }

    .detail-stats__container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: #051527;
      z-index: 2;
      opacity: 1;
      @include transition-duration;

      .content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        color: $white;
        font-family: $f__baloobha;
        padding: 5px 12px;
        font-weight: $font-weight-normal;

        .widget__text-image {
          span {
            padding-top: 4px;
          }
        }

        .right {
          padding-top: 4px;
        }
      }

      &.hidden {
        z-index: 0;
        opacity: 0;
        @include transition-duration;
      }
    }
  }
  
  .type__image {
    // position: absolute;
    height: 28px;
    width: auto;
    padding-bottom: 2px;
    // top: 0;
    // left: 0;
    // z-index: 3;
  }

  .shopping__image {
    background: rgba(204, 81, 80, 1);
    position: absolute;
    height: 32px;
    width: auto;
    top: -5px;
    right: 5px;
    z-index: 3;
    display: none;
  }

  .stats__container {
    display: flex;
    flex-direction: row;
    background: $regal_blue;
    color: $white;
    padding: 12px 0 12px 0;
    position: relative;
    z-index: 2;
    font-weight: $font-weight-bold;
    font-family: $f__baloobha;

    .cell {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      width: 33%;
      border-right: 1px solid $white;
      &:last-child {
        border-right: none;
      }
    }

    .number {
      font-size: 22px;
      font-family: $f__baloobha;
      color: rgb(160, 242, 260);
    }

    .label {
      font-family: $f__baloobha;
      font-size: $font-size-small;
      font-weight: $font-weight-normal;
    }
  }

  .footer {
    position: relative;
    height: 20px;
  }

  .cubegon-name {
    position: absolute;
    bottom: -36px;
    left: 50%;
    transform: translateX(-50%);
    height: 56px;
    width: calc(100% + 24px);

    .value {
      box-sizing: border-box;
      padding: 0 12px 4px 12px;
      width: 100%;
      position: absolute;
      left: 0;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      font-size: 22px;
      color: $white;
      font-family: $f__baloobha;
      text-align: center;
      @include ellipsis;
    }
  }
}