@import '../../styles/colors';
@import '../../styles/mixins';
@import '../../styles/variables';

.widget__checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 0;

  .widget__checkbox__input {
    display: inline-block;
    position: relative;
    width: 20px;
    height: 20px;
    margin-right: 8px;
    cursor: pointer;
  }

  .widget__checkbox__input input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 20px;
    height: 20px;
    z-index: 1;
    cursor: pointer;
  }

  .widget__checkbox__input:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 1;
    @include border-radius(2px);
    border: 1px solid $border-gray;
    z-index: 0;
  }

  .widget__checkbox__input:hover:before {
    border: 1px solid $primary;
  }

  .widget__checkbox__input.checked:before {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 16px 16px;
  }
}
