@import '../../styles/mixins';
@import '../../styles/colors';
@import '../../styles/variables';
@import '../../styles/fonts';

.home__container {
  color: $gray-dark;
  background-color: $white-smoke;
  overflow-x: hidden;
  perspective-origin: top left;
  -webkit-overflow-scrolling: touch;
  background-image: url('../../../shared/img/background/background.png');
  background-size: contain;
  background-repeat: repeat-y;

  .home__banner {
    position: relative;
    width: 100%;
    overflow: hidden;
    display: none !important;

    .home__banner-item {
      position: relative;
      width: 100%;
      height: 460px;
      @include mobile {
        height: 320px;
      }
      img {
        position: absolute;
        height: 100%;
        display: block;
        left: 50%;
        object-fit: cover;
        @include transform(translateX(-50%));
      }
      .home__banner-btn {
        position: absolute;
        left: 50%;
        @include transform(translateX(-50%));
        bottom: 50px;
      }
    }
  }

  .home__intro {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;

    .home__intro-board {
      padding: 0px 32px;
      color: $gray-dark;
    }

    .home__intro-cubego {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      margin: 0 auto;
      justify-content: center;
      padding-top: 20px !important;
      overflow: hidden;

      img {
        background-color: $grey;
        display: block;
        border-radius: 16px;
        box-shadow: 5px 5px 16px -2px rgba(143,124,120,1) !important;
        margin: 0 16px;
        width: 15vw;
        object-fit: cover;
        height: 20vw;
        margin-bottom: 16px;

        @include mobile {
          width: 35vw;
          height: 45vw;
        }
      }
    }
  }

  .home__game-detail {
    text-align: center;
    padding-top: 60px;
    padding-bottom: 20px;
    text-align: -webkit-center;
    color: $dark;
    display: block;

    .home__game-detail__title-container {
      margin-bottom: 80px;
      background-color: #F2BC91;
      height: 56px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .home__game-detail-title {
        color: $white;
        font-family: $f__vt323;
        font-size: $font-size-header-3;
      }
    }

    .home__game-detail__copyright, .home__game-detail__battle {
      display: flex;
      justify-content: space-between;
      align-items: stretch;
      margin-bottom: 64px;
      height: 300px;
      @include mobile {
        height: 400px;
        flex-wrap: wrap;
        justify-content: space-evenly;
      }

      .home__game-detail__copyright-img, .home__game-detail__battle-img {
        width: 50%;
        height: 100%;
        position: relative;
        img {
          display: block;
          max-height: 100%;
        }

        @include mobile {
          width: 100%;
          height: 50%;
        }
      }
  
      .home__game-detail__copyright-info, .home__game-detail__battle-info {
        flex-grow: 1;
        padding: 0 32px;
        margin-left: 44px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        text-align: left;
        position: relative;
          @include mobile {
            margin-top: 24px;
            text-align: center;
            width: 100%;
            height: 50%;
          }
      }
    }

    .copyright__padding {
      position: absolute;
      width: 85%;
      height: 130%;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }

    .battle__padding {
      position: absolute;
      width: 85%;
      height: 130%;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }
    
    .home__game-detail__copyright-info {
      background: url('../../../shared/img/background/background_yellow.png') no-repeat center;
    }
    
    .home__game-detail__battle-info  {
      background: url('../../../shared/img/background/background_red.png') no-repeat center;
    }

    .home__game-detail__index {
      display: flex;
      flex-wrap: wrap;
      align-items: stretch;
      justify-content: center;
      margin-bottom: 64px;
      height: 300px;
      @include mobile {
        flex-wrap: wrap;
        justify-content: space-evenly;
        height: 400px;
      }

      .home__game-detail__index-img {
        width: 50%;
        height: 100%;
        position: relative;
        img {
          display: block;
          max-height: 100%;
        }

        @include mobile {
          width: 100%;
          height: 50%;
        }
      }
  
      .home__game-detail__index-info {
        text-align: left;
        margin-right: 44px;
        flex-grow: 1;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        position: relative;
        background: url('../../../shared/img/background/background_blue.png') no-repeat center;

          @include mobile {
            text-align: center;
            width: 100%;
            height: 50%;
            margin-bottom: 24px;
          }
  
        .index__padding {
          position: absolute;
          width: 85%;
          height: 130%;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }

  }

  .home__build {
    height: 520px;
    text-align: center;
    position: relative;
    background-image: url('../../../shared/img/banner/banner_1.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;


    .home__build-btn {
      position: absolute;
      bottom: 12px;
      left: 50%;
      transform: translateX(-50%);
      overflow: visible !important;
    }

    .home__build-btn:before {
      content: '';
      position: absolute;
      background: url('../../../shared/img/assets/btn_effect_reverse.png') no-repeat center;
      display: block;
      width: 40px;
      height: 40px;
      left: -44px;
      top: 0px;
    }

    .home__build-btn:after {
      content: '';
      position: absolute;
      background: url('../../../shared/img/assets/btn_effect.png') no-repeat center;
      display: block;
      width: 40px;
      height: 40px;
      right: -44px;
      top: 0px;
    }
  }

  .home__modes {
    width: 100%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;

    .home__modes-title__container {
      background-color: #F2BC91;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-bottom: 32px;
      height: 56px;
      
      .home__modes-title {
        display: inline;
        color: $white;
        font-family: $f__vt323;
        font-size: $font-size-header-3;
      }
    }

    

    .home__mode-container {
      position: relative;
      width: 100%;
      height: 460px;
      @include mobile {
        height: 320px;
      }

      .guild-game {
        position: absolute;
        height: 80%;
        display: block;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
      
    }
  }

  .home__partnership {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: $white-blue;
    text-align: center;
    display: none !important;

    .home__partnership__imgs {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      margin: 0 auto;
      justify-content: space-evenly;
      padding-top: 20px !important;

      a {
        width: 160px;
        margin: 0 4px 60px 4px;
        img {
          height: 80px;
          margin-bottom: 8px;
        }
        p {
          color: $black95;
          font-weight: $font-weight-semi-bold;
          font-size: $font-size-big;
        }
      }
    }
  }

  .home__subscription {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    display: none !important;

    .home__subscription-container {
      display: flex;
      align-items: center;
      justify-content: center;
      @include mobile {
        flex-wrap: wrap;
        justify-content: space-evenly;
      }

      .home__subscription-img {
        img {
          width: 300px;
        }
      }
  
      .home__subscription-main {
        width: 50%;
        text-align: left;
        padding: 16px 32px;
          @include mobile {
            text-align: center;
          }
        

        .home__subscription-input {
          border: none;
          background-color: #DBDBDB;
          box-shadow: 8px 8px 16px -2px rgba(192,192,192,1);
          border-radius: 8px;
          height: 36px;
          margin-bottom: 16px;
        }

        .home__subscription-btn {
          margin-left: 16px;
          overflow: visible !important;
        }

        .home__subscription-btn:after {
          content: '';
          position: absolute;
          background: url('../../../shared/img/assets/btn_effect_2.png') no-repeat center;
          display: block;
          width: 40px;
          height: 40px;
          right: -44px;
          top: 0px;
          z-index: 99;
        }
      }
    }
  }

  .home__features {
    text-align: center;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 60px;

    .home__features-title {
      margin-bottom: 44px;
      font-family: $f__vt323;
      font-size: $font-size-header-3;
    }

    .home__features-cards {
      overflow: auto;
      overflow-y: hidden;
      margin: 0 auto;
      white-space: nowrap;
      width: 80%;
      
      .home__features-card {
        display: inline-block;
        width: 25%;
        height: 350px;

        @include mobile {
          width: 50%;
        }
      }
    }
  }
}