@import '../../styles/mixins';
@import '../../styles/colors';
@import '../../styles/variables';
@import '../../styles/fonts';

.home-page {
  color: $gray-dark;

  .home__banner {
    position: relative;
    width: 100%;
    overflow: hidden;

    .home__banner-item {
      position: relative;
      width: 100%;
      height: 460px;
      @include mobile {
        height: 360px;
      }
      img {
        position: absolute;
        height: 100%;
        min-width: 100%;
        display: block;
        left: 50%;
        object-fit: cover;
        @include transform(translateX(-50%));
      }
      .home__banner-btn {
        position: absolute;
        left: 50%;
        @include transform(translateX(-50%));
        bottom: 50px;
      }
    }
  }

  .home__intro {
    text-align: left;

    .home__intro-main {
      display: flex;
      align-items: flex-end;
      justify-content: space-around;
      text-align: left;
      @include mobile {
        flex-wrap: wrap;
        text-align: center;
      }
    }

    .home__intro-board {
      color: $gray-dark;
      width: 500px;
      max-width: 100%;
      margin: 0 auto;

      .widget__button-new {
        margin: 8px 0 0 0;
      }

      .home__intro-header {
        position: relative;
        padding: 16px 0 8px 0;

        span {
          position: relative;
          font-family: $f__baloobha;
          font-size: 32px;
          color: $white;
          text-transform: uppercase;
          font-weight: $font-weight-normal;
        }

        &:before {
          content: "";
          position: absolute;
          right: -2000px;
          top: 0;
          bottom: 0;
          left: -2000px;
          //left: -40px;
          background-color: #0C4A7E;
        }
      }

      p {
        padding-top: 50px;
        font-weight: $font-weight-semi-bold;
        font-size: $font-size-medium;
      }
    }

    .home__intro-build {
      position: relative;
      height: 260px;
      width: 300px;

      img {
        position: absolute;
        left: 50%;
        top: calc(50% + 65px);
        height: 320px;
        @include transform(translateX(-50%) translateY(-50%));
        @include mobile {
          left: calc(50% - 18px);
          top: calc(50% + 20px);
        }
      }
    }

    .home__intro-cubego {
      display: flex;
      width: 100%;
      margin: 0 auto;
      justify-content: center;
      align-items: flex-end;
      padding-top: 60px;
      padding-bottom: 60px;
      overflow: hidden;


      .cubegon-card {
        border-radius: 16px;
        box-shadow: 5px 5px 16px -2px rgba(143,124,120,1) !important;
        margin: 8px 0 8px 0;
        width: 20%;
        z-index: 1;
        text-align: center;

        .cubegon-name {
          color: $white;
          font-family: $f__baloobha;
          font-size: $font-size-large;
        }

        .cubegon-creator {
          opacity: 0;
          padding-bottom: 16px;
          color: $white;
          font-family: $f__overpass;
          font-size: $font-size-tiny;
        }

        img {
          height: 200px;
          display: block;
          object-fit: cover;
          transform: translateX(-50%);
          left: 50%;
          position: relative;
          @include mobile {
            max-width: 100%;
            height: 120px;
          }
        }

        &:nth-child(1) {
          background-image: url('../../../shared/img/background/background_intro_1.png');
          filter: grayscale(20%);
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
          opacity: 0.8;
          order: 1;

          &:hover ~ div {
            transform: scale(1);
            filter: grayscale(20%);
          }
        }

        &:nth-child(2) {
          background-image: url('../../../shared/img/background/background_intro_2.png');
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
          opacity: 0.8;
          order: 3;
          filter: grayscale(20%);

          &:hover ~ div {
            transform: scale(1);
            filter: grayscale(20%);
          }
        }

        &:nth-child(3) {
          background-image: url('../../../shared/img/background/background_intro_3.png');
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
          opacity: 0.8;

          transform: scale(1.25);
          opacity: 1;
          z-index: 2;
          
          order: 2;
        }

        transition-duration: 0.5s;
        transition-property: transform, opacity, filter;

        &:hover {
          transform: scale(1.25) !important;
          opacity: 1 !important;
          z-index: 3 !important;
          filter: grayscale(0%);
        }

        @include mobile {
          width: 40%;
        }
      }
    }
  }

  .home__intro-countdown {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 40px;

    .presale-text {
      font-family: $f__baloobha;
      font-size: $font-size-header-3;
      color: $c__text__orange;
      margin: 0;
    }

    .countdown__container {
      margin: 16px 0;

      .days, .hours, .min, .sec {
        font-size: 48px;
      }
    }
  }

  .home__game-detail {
    .section {
      position: relative;
      margin-top: 100px;
      height: 320px;
      @include mobile {
        height: auto;
        &:nth-child(1) {
          margin-top: 40px;
        }
      }

      &:nth-child(1) {
        color: #d34e13;
        margin-top: 80px;
      }
      &:nth-child(2) {
        color: #153e65;
      }
      &:nth-child(3) {
        color: $white95;
      }

      .header {
        color: $white95;
        font-size: 28px;
      }
    }

    .background {
      &:before, &:after {
        @include border-radius(4px);
        background-size: 100% 100%;
      }

      &.red {
        &:before {
          background-image: url('../../../shared/img/background/background_red.png');
        }
        &:after {
          background-image: url('../../../shared/img/background/padding_red.png');
        }
      }
      &.yellow {
        &:before {
          background-image: url('../../../shared/img/background/background_yellow.png');
        }
        &:after {
          background-image: url('../../../shared/img/background/padding_yellow.png');
        }
      }
      &.blue {
        &:before {
          background-image: url('../../../shared/img/background/background_blue.png');
        }
        &:after {
          background-image: url('../../../shared/img/background/padding_blue.png');
        }
      }

      &:before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 16px;
        right: 16px;
        z-index: 1;
      }
      &:after {
        content: "";
        position: absolute;
        top: -30px;
        bottom: -30px;
        left: 16px;
        right: 16px;
      }

      @include not-mobile {
        &.left {
          &:before {
            left: calc(50% + 20px);
          }
          &:after {
            left: calc(50% + 60px);
          }
        }
        &.right {
          &:before {
            right: calc(50% + 20px);
          }
          &:after {
            right: calc(50% + 60px);
          }
        }
      }
    }

    .content {
      position: relative;
      z-index: 1;
      height: 100%;
      display: flex;
      align-items: center;
      //justify-content: center;
      @include mobile {
        flex-wrap: wrap;
      }

      .desc {
        padding: 32px 64px;
        @include mobile {
          text-align: center;
          padding: 32px 8px 0 8px;
          .header .content {
            justify-content: center;
          }
        }
        .text {
          font-weight: $font-weight-semi-bold;
        }
      }
      .image {
        flex-shrink: 0;
        width: 50%;
        text-align: center;
        position: relative;

        @include mobile {
          margin: 0 auto;
        }

        .img {
          position: absolute;
          top: 50%;
          left: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          @include transform(translateY(-50%) translateX(-50%));
          @include mobile {
            position: relative;
            @include transform(none);
            left: auto;
            top: auto;
          }

          &.creation {
            img {
              @include flip-up-down-10px(3.6s);
            }
          }

          .img-real {
            width: 500px;
            &.combat {
              width: 480px;
            }
            &.copyright {
              width: 420px;
            }
            @include mobile {
              width: 260px;
              &.copyright {
                width: 260px;
                margin-top: -20px;
              }
              &.combat {
                width: 280px;
                margin-top: -50px;
              }
            }
          }
          .widget__sprite-sheet {
            width: 480px;
            @include mobile {
              margin-top: 100px;
              width: 160px;
            }
          }
          &.combat {
            left: 65%;
            .widget__sprite-sheet {
              width: 900px;
            }
          }
        }

        //@include flip-up-down(3s);
      }

      &.left {
        flex-direction: row-reverse;
      }
    }
  }

  .home__build {
    height: 520px;
    text-align: center;
    position: relative;
    background-image: url('../../../shared/img/banner/banner-default.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

  }

  .home__modes {
    text-align: center;
    padding-top: 80px;
    position: relative;

    .home__modes-title__container {
      //background-color: rgba(25, 50, 78, 1);
      background-color: #0C4A7E;
      padding: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 56px;
      
      .home__modes-title {
        display: inline;
        color: $white;
        font-family: $f__baloobha;
        padding-top: 8px;
        font-size: 30px;
        font-weight: $font-weight-normal;
      }
    }
  }

  .home__channels {
    overflow: hidden;
    margin-top: 20px;
    text-align: center;

    .channels__header {
      padding: 32px 0 16px 0;
      color: rgba(238,116,47,1) !important;
    }

    .channel-listview {

      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;

      .channel-item {
        width: 120px;
        height: 120px;
        margin: 16px 24px;
        text-align: center;
        padding: 12px;
        border: 10px solid $white;
        border-radius: 8px;
        box-shadow: 0 0 20px -4px rgb(178, 174, 180);
        position: relative;
        cursor: pointer;

        .name {
          font-size: $font-size-big;
          font-weight: $font-weight-bold;
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          bottom: 8px;
          opacity: 1;
          transition: bottom 0.5s, opacity 0.5s;
          transition-timing-function: ease-out;
          @include mobile {
            font-size: $font-size-small;
          }
        }
        img {
          width: 70%;
          height: auto;
          display: inline-block;
          transition: width 0.35s;
          transition-timing-function: ease-out;
        }
        &:hover {
          .name {
            bottom: 3px;
            opacity: 0;
          }
          img {
            width: 80%;
          }
        }

        @include mobile {
          width: 60px;
          height: 60px;
          margin: 8px;
        }


        &:nth-child(1) {
          background-image: url('../../../shared/img/background/partnership_background_1.png');
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
          .name {
            color: #6e42be;
          }
        }

        &:nth-child(2) {
          background-image: url('../../../shared/img/background/partnership_background_2.png');
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
          .name {
            color: #ff6c00;
          }
        }

        &:nth-child(3) {
          background-image: url('../../../shared/img/background/partnership_background_3.png');
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
          .name {
            color: #2294c4;
          }
        }
      }
    }
  }

  .home__partnership {
    position: relative;
    z-index: 1;
    margin-top: 100px;
    margin-bottom: -32px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgba(189,223,244,1);
    text-align: center;

    border-top: 40px solid transparent;
    border-bottom: 40px solid transparent;
    border-image: url('../../../shared/img/assets/wall_pattern_2.svg') 100 0 repeat;
    background-clip: padding-box;
    box-sizing: border-box;

    .partnership__header {
      padding: 32px 0 16px 0;
      color: rgba(25,67,121,1) !important;
    }

    .home__partnership__imgs {
      display: flex;
      flex-wrap: wrap;
      //width: 100%;
      margin: 0 auto;
      justify-content: space-evenly;
      padding-top: 20px !important;

      a {
        width: 200px;
        @include mobile {
          width: 120px;
        }
        margin: 0 4px 16px 4px;
        text-decoration: none;
        font-style: normal;
        img {
          height: 70px;
          margin-bottom: 8px;
        }
        p {
          color: $black95;
          font-weight: $font-weight-semi-bold;
          font-size: $font-size-big;
        }
      }
    }
  }

  .home__roadmap {
    padding-top: 160px;
    .home__roadmap-header {
      text-align: center;
      font-family: $f__baloobha;
      color: $c__text__orange;
      font-size: 30px;
      text-transform: uppercase;
      margin-bottom: 40px;
    }
  }

  //.home__subscription {
  //  text-align: center;
  //  padding-top: 20px;
  //  padding-bottom: 20px;
  //
  //  input {
  //    outline-style: none;
  //  }
  //
  //  .home__subscription-container {
  //    display: flex;
  //    align-items: center;
  //    justify-content: center;
  //    @include mobile {
  //      flex-wrap: wrap;
  //      justify-content: space-evenly;
  //    }
  //
  //    .home__subscription-img {
  //      img {
  //        width: 300px;
  //      }
  //    }
  //
  //    .home__subscription-main {
  //      width: 50%;
  //      text-align: left;
  //      padding: 16px 32px;
  //        @include mobile {
  //          text-align: center;
  //        }
  //
  //
  //      .home__subscription-input {
  //        border: none;
  //        background-color: #DBDBDB;
  //        box-shadow: 8px 8px 16px -2px rgba(192,192,192,1);
  //        border-radius: 8px;
  //        height: 36px;
  //        margin-bottom: 16px;
  //        padding-left: 24px;
  //      }
  //
  //      .home__subscription-btn {
  //        margin-left: 16px;
  //        overflow: visible !important;
  //      }
  //
  //      .home__subscription-btn:after {
  //        content: '';
  //        position: absolute;
  //        background: url('../../../shared/img/assets/btn_effect_2.png') no-repeat center;
  //        display: block;
  //        width: 40px;
  //        height: 40px;
  //        right: -44px;
  //        top: 0px;
  //        z-index: 99;
  //      }
  //    }
  //  }
  //}

  //.home__features {
  //  text-align: center;
  //  margin-top: 120px;
  //  margin-bottom: 10px;
  //  background-color: #9755C9;
  //  padding: 16px 32px 44px 32px;
  //  box-sizing: border-box;
  //  overflow: hidden;
  //  border-radius: 8px;
  //
  //  .indicator__container {
  //    &.active {
  //      .feature-indicator {
  //        background-color: #EE742F;
  //      }
  //
  //      &:before {
  //        content: '';
  //        position: absolute;
  //        background: url('../../../shared/img/icons/icon_right_arrow.png') no-repeat center;
  //        display: block;
  //        width: 40px;
  //        height: 40px;
  //        left: -44px;
  //        top: 8px;
  //        @include flip-right-left(1s);
  //      }
  //    }
  //
  //    .feature-indicator {
  //      width: 150px;
  //      padding: 12px 8px;
  //      margin: 8px 0;
  //      height: auto !important;
  //      background-color: #874CB5;
  //      border-radius: 8px;
  //      color: $white;
  //    }
  //  }
  //
  //  .home__features__title-container {
  //
  //    margin: 18px 0;
  //    height: 24px;
  //    display: flex;
  //    flex-direction: column;
  //    justify-content: center;
  //
  //    .home__features-title {
  //      color: $white;
  //      font-family: $f__vt323;
  //      font-size: $font-size-header-3;
  //    }
  //  }
  //
  //  .home__features-cards {
  //    padding: 16px 0;
  //  }
  //
  //  .home__features-card {
  //    box-sizing: border-box;
  //    display: block;
  //    width: 100%;
  //    height: 100%;
  //  }
  //}
}

