@import '../../styles/mixins';
@import '../../styles/colors';
@import '../../styles/variables';
@import '../../styles/fonts';

.home__container {
  color: $gray-dark;
  background-color: $white-smoke;
  overflow-x: hidden;
  perspective-origin: top left;
  -webkit-overflow-scrolling: touch;
  background-image: url('../../../shared/img/background/background.png');
  background-size: contain;
  background-repeat: repeat-y;

  .home__banner {
    position: relative;
    width: 100%;
    overflow: hidden;

    .home__banner-item {
      position: relative;
      width: 100%;
      height: 460px;
      @include mobile {
        height: 320px;
      }
      img {
        position: absolute;
        height: 100%;
        display: block;
        left: 50%;
        object-fit: cover;
        @include transform(translateX(-50%));
      }
      .home__banner-btn {
        position: absolute;
        left: 50%;
        @include transform(translateX(-50%));
        bottom: 50px;
      }
    }
  }

  .home__intro {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;

    .home__intro-board {
      padding: 0 32px;
      color: $gray-dark;
    }

    .home__intro-cubego {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      margin: 0 auto;
      justify-content: center;
      padding-top: 20px !important;
      overflow: hidden;

      img {
        display: block;
        border-radius: 16px;
        box-shadow: 5px 5px 16px -2px rgba(143,124,120,1) !important;
        margin: 0 16px 16px 16px;
        width: 20%;
        object-fit: cover;
        height: 200px;

        &:nth-child(1) {
          background-image: url('../../../shared/img/background/background_intro_1.png');
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
        }

        &:nth-child(2) {
          background-image: url('../../../shared/img/background/background_intro_2.png');
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
        }

        &:nth-child(3) {
          background-image: url('../../../shared/img/background/background_intro_3.png');
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
        }

        @include mobile {
          width: 40%;
          height: 200px;
        }
      }
    }
  }

  .home__game-detail {
    text-align: center;
    padding-top: 60px;
    padding-bottom: 20px;
    text-align: -webkit-center;
    color: $dark;
    display: block;
    position: relative;

    .index__content {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      height: 100%;
      display: flex;
      flex-wrap: wrap;
      align-items: stretch;
      justify-content: center;
      @include mobile {
        height: 600px;
        flex-wrap: wrap;
        justify-content: space-evenly;
      }
      
      .index-img {
        height: 100%;
        position: relative; 
        width: 55%;
        img {
          box-sizing: border-box;
          padding: 16px;
          display: block;
          max-height: 100%;
        }

        @include mobile {
          width: 100%;
          height: 50%;
        }
      }

      .index-info {
        text-align: left;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 45%;

        p {
          overflow: hidden;
        }

          @include mobile {
            align-items: center;
            text-align: center;
            width: 100%;
            height: 50%;
          }
      }
    }

    .copywrite__content, .battle__content {
      position: absolute;
      max-width: 100%;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: stretch;

      @include mobile {
        height: 600px;
        flex-wrap: wrap;
        justify-content: space-evenly;
      }


      .copywrite-img, .battle-img {
        height: 100%;
        position: relative; 
        width: 55%;
        img {
          box-sizing: border-box;
          padding: 16px;
          display: block;
          max-height: 100%;
        }

        @include mobile {
          width: 100%;
          height: 50%;
        }
      }

      .copywrite-info, .battle-info {
        padding-left: 16px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        text-align: left;
        width: 45%;
        box-sizing: border-box;
        z-index: 2;

          p {
            overflow: hidden;
          }

          @include mobile {
            align-items: center;
            text-align: center;
            width: 100%;
            height: 50%;
          }
      }
    }
    
    .subtitle {
      color: $white;
    }

    .home__game-detail__copywrite, .home__game-detail__battle {
      display: flex;
      justify-content: space-between;
      align-items: stretch;
      margin-bottom: 140px;
      height: 400px;
      position: relative;
      @include mobile {
        height: 600px;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-bottom: 80px;
      }

      .copywrite__layer-img, .battle__layer-img {
        background-color: #D3D3D3;
        width: 53%;

        @include mobile {
          width: 100%;
          height: 50%;
        }
      }

      .copywrite__layer-info, .battle__layer-info {
        @include mobile {
          width: 100% !important;
          height: 50% !important;
        }
      }

      .copywrite__layer-info {
        width: 47%;
        background: url('../../../shared/img/background/background_yellow.png') no-repeat center;
      }

      .battle__layer-info {
        width: 47%;
        background: url('../../../shared/img/background/background_red.png') no-repeat center;
      }
    }

    .padding {
      position: absolute;
      width: 40%;
      height: 130%;
      transform: translateY(-50%);
      z-index: 0;
      top: 50%;

      @include mobile {
        transform: translateY(0%);
        top: 75%;
        height: 0;
      }
    }

    .copywrite__layer {
      right: 0;
    }

    .battle__layer {
      right: 0;
    }

    .index__layer {
      left: 0;
    }

    .home__game-detail__index {
      display: flex;
      flex-wrap: wrap;
      align-items: stretch;
      justify-content: center;
      margin-bottom: 140px;
      height: 400px;
      position: relative;
      @include mobile {
        flex-wrap: wrap;
        justify-content: space-evenly;
        height: 600px;
        margin-bottom: 80px;
      }

      .index__layer-img {
        background-color: #D3D3D3;
        width: 53%;
      }

      .index__layer-info {
        width: 47%;
        background: url('../../../shared/img/background/background_blue.png') no-repeat center;
      }

      .index__layer-img, .index__layer-info {
        @include mobile {
          width: 100% !important;
          height: 50% !important;
        }
      }
    }

  }

  .home__build {
    height: 520px;
    text-align: center;
    position: relative;
    background-image: url('../../../shared/img/banner/banner_1.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

  }

  .home__modes {
    width: 100%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 80px;

    .home__modes-title__container {
      background-color: rgba(255, 106, 0, 0.6);
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-bottom: 32px;
      height: 56px;
      
      .home__modes-title {
        display: inline;
        color: $white;
        font-family: $f__vt323;
        font-size: $font-size-header-3;
      }
    }

    

    .home__mode-container {
      position: relative;
      width: 100%;
      height: 460px;
      @include mobile {
        height: 320px;
      }

      .guild-game {
        position: absolute;
        height: 80%;
        display: block;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
      
    }
  }

  .home__partnership {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: $white-blue;
    text-align: center;
    display: none !important;

    .home__partnership__imgs {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      margin: 0 auto;
      justify-content: space-evenly;
      padding-top: 20px !important;

      a {
        width: 160px;
        margin: 0 4px 60px 4px;
        img {
          height: 80px;
          margin-bottom: 8px;
        }
        p {
          color: $black95;
          font-weight: $font-weight-semi-bold;
          font-size: $font-size-big;
        }
      }
    }
  }

  .home__subscription {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    display: none !important;

    .home__subscription-container {
      display: flex;
      align-items: center;
      justify-content: center;
      @include mobile {
        flex-wrap: wrap;
        justify-content: space-evenly;
      }

      .home__subscription-img {
        img {
          width: 300px;
        }
      }
  
      .home__subscription-main {
        width: 50%;
        text-align: left;
        padding: 16px 32px;
          @include mobile {
            text-align: center;
          }
        

        .home__subscription-input {
          border: none;
          background-color: #DBDBDB;
          box-shadow: 8px 8px 16px -2px rgba(192,192,192,1);
          border-radius: 8px;
          height: 36px;
          margin-bottom: 16px;
        }

        .home__subscription-btn {
          margin-left: 16px;
          overflow: visible !important;
        }

        .home__subscription-btn:after {
          content: '';
          position: absolute;
          background: url('../../../shared/img/assets/btn_effect_2.png') no-repeat center;
          display: block;
          width: 40px;
          height: 40px;
          right: -44px;
          top: 0px;
          z-index: 99;
        }
      }
    }
  }

  .home__features {
    text-align: center;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 60px;

    .home__features__title-container {
      margin-bottom: 56px;
      background-color: rgba(255, 106, 0, 0.6);
      height: 56px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .home__features-title {
        color: $white;
        font-family: $f__vt323;
        font-size: $font-size-header-3;
      }
    }

    .home__features-cards {
      overflow: auto;
      overflow-y: hidden;
      margin: 0 auto;
      white-space: nowrap;
      width: 100%;
      
      .home__features-card {
        display: inline-block;
        width: 25%;
        height: 350px;

        @include mobile {
          width: 50%;
        }
      }
    }
  }
}