@import '../../../styles/mixins';
@import '../../../styles/colors';
@import '../../../styles/variables';
@import '../../../styles/fonts';

.txn-bar__wrapper {
  background-color: #91DEF8;
  position: fixed;
  padding: 1px;
  right: 8px;
  @include mobile {
    right: 0;
    bottom: 4px;
  }
  bottom: 8px;
  z-index: 10001;
  border-radius: 8px;
  width: 360px;
  max-width: 100%;

  .close-btn {
    position: absolute;
    right: 8px;
    top: 8px;
    font-size: $font-size-large;
    cursor: pointer;
    color: #153E75;
    &.registration {
      color: #97eff4;
    }
    &:hover {
      filter: invert(0.5);
    }
  }

  .top-menu__container {

  }

  .main-form__container {
    //background: url('../../../../shared/img/background/background_white.png') no-repeat center center;
    &.registration {
      background: url('../../../../shared/img/background/background_blue_dark.jpg') no-repeat center center;
    }

    display: inline-block;
    text-align: center;
    border: 3px solid #153E75;
    border-radius: 8px;
    padding: 24px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    .register-popup {
      .signup__container, .register-popup__app {
        padding: 0;
        background: none;
      }
    }


    .button {
      display: inline-block;
    }

    .txn-field {
      text-align: left;
      padding: 8px;

      .widget__dropdown {
        background: #49A6C5;
        border-radius: 8px;

        .widget__dropdown__content {
          width: 100%;
          box-sizing: border-box;
          padding: 8px 8px;
          color: $white !important;
        }
      }

      label {
        display: block;
        margin-bottom: 3px;
        color: #003F72;
        font-size: $font-size-small;
        text-transform: capitalize;
        font-family: $f__baloobha;
      }

      input[type=text], input[type=number], textarea {
        width: 100%;
        box-shadow: inset 0 1px 2px #2C6477;
        outline: none;
        border: 0;
        background-color: #49A6C5;
        padding: 4px 8px 0 8px;
        border-radius: 5px;
        font-family: $f__baloobha;
        color: $white;
        box-sizing: border-box;
        resize: none;
        line-height: 100%;

        &:read-only {
          box-shadow: none;
          background-color: #66C0DE;
        }

        &::selection {
          background: #0b58a6 !important; /* WebKit/Blink Browsers */
        }

        &::placeholder {
          color: #EDEFF070;
          font-weight: $font-weight-light;
        }
      }
    }

    .txn-title {
      margin: 24px 0;
      color: #003F72;
      text-transform: capitalize;
      font-family: $f__baloobha;
      font-size: $font-size-large;
    }

    .txn-header {
      position: absolute;
      width: auto;
      height: 42px;
      top: 0;
      left: 50%;
      transform: translate(-50%, -50%);

      span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: $white;
        font-size: $font-size-normal;
        font-family: $f__baloobha;
        text-transform: capitalize;
        white-space: nowrap;
        padding-top: 4px;
      }
    }

    .txn-note {
      font-size: $font-size-normal;
    }

    form {
      p {
        font-family: $f__overpass;
        font-size: $font-size-small;
      }
    }
  }
}