<!DOCTYPE html>

<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="google-site-verification" content="Pz4BwzB10fomNnf2QXMohEOxcCMP-p1MgdhOs-XIzSs" />
  <title>Cubego</title>

  <!-- Facebook OG Tag -->
  <meta property="og:url"                content="https://www.Cubego.io/" />
  <meta property="og:type"               content="website" />
  <meta property="og:title"              content="Cubego - Shape your Squad" />
  <meta property="og:description"        content="Cubego or Cubegoes, are 3D building block(s) which enable you to build your very own bespoke and personalised 3D models called Cubegon. Let's immerse into a world of limitless creativity!" />
  <meta property="og:image"              content="https://www.cubego.io/assets/images/fb-banner-2.png" />
  <!-- END Facebook OG Tag -->

  <!-- Favicon -->
  <link rel="icon" href="assets/images/icon.ico?v=3">

  <!-- Details -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="Cubego - Decentralized World of Hero. Blockchain, Hero, Ether, Ethereum, Bitcoin, World of Hero">
  <meta name="author" content="contact@Cubego.com">
  <title>Cubego</title>
  <!-- End Details -->

  <!-- Libs -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/components/flag.min.css"/>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/components/flag.min.css"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" type="text/javascript"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/97/three.min.js"></script>
  <script src="assets/lib/three.Projector.js"></script>
  <script src="assets/lib/three.gltfExporter.js"></script>
  <script src="assets/lib/three.canvasRenderer.js"></script>
  <script src="assets/lib/OrbitControls.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/4.8.2/pixi.min.js"></script>
  <!-- End Libs -->

  <!-- Internal CSS-->
  <link rel="stylesheet" href="styles.css?v=<%= htmlWebpackPlugin.options.customHash %>">
  <!-- End Internal CSS-->
</head>

<body id="body">

  <!-- Facebook SDK -->
  <script>
    window.fbAsyncInit = function() {
      FB.init({
        appId      : '1866800366770376',
        xfbml      : true,
        version    : 'v3.0'
      });
      FB.AppEvents.logPageView();
    };
    (function(d, s, id){
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {return;}
      js = d.createElement(s); js.id = id;
      js.src = "https://connect.facebook.net/en_US/sdk.js";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  </script>
  <!-- End Facebook SDK -->

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-6QLKGH31XF"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-6QLKGH31XF');
  </script>
  <!-- End Global site tag (gtag.js) - Google Analytics -->

  <div id="root"></div>

  <!-- Bundles -->
  <script>
    var startFuncInterval;
    var startFunc = function() {
      if (!window.currentNetwork && window.location.hostname !== 'cubego.io' && window.location.hostname !== 'www.cubego.io') return;
      window.clearInterval(startFuncInterval);

      var script1 = document.createElement('script');
      script1.src = "runtime~app.bundle.js?v=<%= htmlWebpackPlugin.options.customHash %>";
      document.body.appendChild(script1);

      var script2 = document.createElement('script');
      script2.src = "vendor.bundle.js?v=<%= htmlWebpackPlugin.options.customHash %>";
      document.body.appendChild(script2);

      var script3 = document.createElement('script');
      script3.src = "app.bundle.js?v=<%= htmlWebpackPlugin.options.customHash %>";
      document.body.appendChild(script3);
    };
    startFuncInterval = window.setInterval(startFunc, 100);
    startFunc();
  </script>
  <script src="runtime~app.bundle.js?v=<%= htmlWebpackPlugin.options.customHash %>" type="text/javascript"></script>
  <script src="vendor.bundle.js?v=<%= htmlWebpackPlugin.options.customHash %>" type="text/javascript"></script>
  <script src="app.bundle.js?v=<%= htmlWebpackPlugin.options.customHash %>" type="text/javascript"></script>
  <!-- End Bundles
</body>

</html>
