@import '../../../styles/colors';
@import '../../../styles/mixins';
@import '../../../styles/variables';
@import '../../../styles/fonts';

@keyframes store__blinking {
  0%   {
    box-shadow: 0 0 60px -10px #fcff93;
  }
  50%   {
    box-shadow: 0 0 75px -10px #fcff93;
  }
  100%   {
    box-shadow: 0 0 60px -10px #fcff93;
  }
}

.cubegoes-view__container {
  .pack-view__container {
    cursor: pointer;
    &:hover {
      .chest__image {
        @include flip-up-down(2s);
      }
    }

    @include animation-keyframes(store__blinking, 2s);
    margin-top: 64px;
    margin-bottom: 44px;
    padding: 24px 0;
    text-align: center;
    display: inline-block;
    color: $white;
    font-family: $f__baloobha;
    background: rgba(25, 49, 77, 1);
    border-radius: 5px;
    position: relative;
    border-width: 5px;
    border-style: solid;
    border-image: linear-gradient(to bottom right, #C30D46, #FFFF00, #C30D46) 1 ;

    .price__container {
      display: flex;
      flex-wrap: wrap;
      .widget__text-image {
        padding-top: 3px;
        flex-grow: 1;
        &:nth-child(1) {
          border-right: 1px solid $white;
        }
      }
    }

    .header__label {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 50px;

      span {
        padding-top: 4px;
        font-size: $font-size-header-1;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        color: $c__text__neon;
      }
    }

    .total-quantity {
      margin-top: 24px;
      font-size: $font-size-header-2;
    }

    .combo-detail__container {
      display: inline-flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      padding-top: 12px;

      .chest__image {
        width: 380px;
        max-width: 100%;
      }

      .cubego__listview {
        display: flex;
        flex-wrap: wrap;
        width: 300px;

        .cubego__item {
          box-sizing: border-box;
          padding: 8px 4px;
          width: 33%;
          height: auto;
          position: relative;

          .cubego-name {
            text-transform: capitalize;
          }

          .quantity {
            font-size: $font-size-large;
            margin-top: -6px;
          }

          .image__container {
            margin: 0 auto;
            max-width: 100%;
            width: 70px;
            position: relative;
            img {
              width: 100%;
              height: auto;
              position: relative;
              z-index: 1;
            }
          }
        }
      }
    }

    .parallelogram__container {
      background: $regal_blue;
      width: 250px;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: -8px;
  
      .content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) skewX(-20deg);
        color: $white;
        font-family: $f__baloobha;
        font-size: $font-size-large;
        width: 100%;
      }
  
      .main-content {
        top: 2px;
        position: relative;
        transform: skewX(20deg);
        height: 44px;
        width: calc(100% + 16px);
        left: -8px;
        background: $regal_blue;
        overflow: hidden;
        z-index: 2;
      }
  
      .border-layer {
        position: absolute;
        transform: translate(-50%, -50%);
        height: calc(100% - 8px);
        width: calc(100% - 8px);
        left: 50%;
        top: 50%;
        z-index: 3;
        box-sizing: border-box;
        border: 1px solid $white;
      }
  
      .shadow-layer {
        position: absolute;
        left: -8px;
        width: calc(100% + 16px);
        height: 60%;
        background: rgba(69, 103, 120, 1);
        clip-path: polygon(8px 0%, 100% 0, 100% 0, 0% 80%);
        z-index: 1;
      }
      
    }

  }
  
  .pack-detail__container {
    padding-top: 30px;

    .cubego__listview {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
  
      .item {
        width: 260px;
        max-width: 100%;
        padding: 36px 24px;
        box-sizing: border-box;
        position: relative;

      }
    }
  }
  .purchase__container {
    position: relative;
    padding: 24px 16px;
    .header__container {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, -50%);
      text-transform: capitalize;

      span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: $white;
        font-size: $font-size-large;
        white-space: nowrap;
        font-family: $f__baloobha;
      }
    }

    .main__container {
      display: flex;
      justify-content: center;
      align-items: center;

      .cubego__image {
        width: auto;
        height: 150px;
        display: block;
      }

      .pack__listview {
        width: 500px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        .pack__item {
          width: 50%;
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          justify-content: center;
          position: relative;
          padding: 44px 0;
          box-sizing: border-box;

          .detail__label {
            padding: 24px 0;
          }
          img {
            height: 64px;
            width: auto;
          }
        }
      }
    }

    .purchase__group-button {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 0%);
      display: flex;
    }
  }
}

