@import '../../../styles/colors';
@import '../../../styles/mixins';
@import '../../../styles/variables';
@import '../../../styles/fonts';

@keyframes store__blinking {
  0%   {
    box-shadow: 0 0 60px -10px #fcff93;
  }
  50%   {
    box-shadow: 0 0 75px -10px #fcff93;
  }
  100%   {
    box-shadow: 0 0 60px -10px #fcff93;
  }
}

.cubegoes-view__container {
  padding-top: 60px;
  position: relative;

  .cubegoes-view__hightlight_note {
    margin-bottom: 16px;
    font-size: $font-size-large;
    color: #E9C303;
    font-family: $f__baloobha;
  }

  .cubegoes-view__tip_note {
    cursor: pointer;
    display: block;
    font-size: $font-size-small;
    &:nth-child(4) {
      margin-bottom: 50px;
    }
    &:hover {
      color: $c__orange-1;
    }
  }

  .referral-box {
    margin: 0 auto 40px auto;
    width: 732px;
    max-width: 100%;
  }

  .hidden {
    display: none;
  }

  .presale-info__container {
    padding: 16px 16px 32px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    font-family: $f__baloobha;
    font-size: $font-size-header-1;

    span {
      margin: 36px 0;
    }

    .register__button {
      margin-bottom: 24px;
    }
  }

  .price__container {
    display: flex;
    flex-wrap: wrap;
    .widget__text-image {
      padding-top: 3px;
      flex-grow: 1;
      &:nth-child(1) {
        border-right: 1px solid $white;
      }
    }
  }

  .pack-view__container {
    width: 724px;
    max-width: 100%;
    position: relative;
    cursor: pointer;
    @include animation-keyframes(store__blinking, 2s);
    margin-bottom: 44px;
    padding: 24px 0;
    text-align: center;
    display: inline-block;
    color: $white;
    font-family: $f__baloobha;
    background: rgba(25, 49, 77, 1);
    border-radius: 5px;
    border-width: 0 !important;

    @include mobile {
      border-width: 5px !important;
      border-style: solid;
      border-image: linear-gradient(to bottom right, #C30D46, #FFFF00, #C30D46) 1 ;
    }

    .border {
      position: absolute;
      top: -18px;
      left: -2px;
      bottom: -2px;
      right: -25px;

      tspan {
        font-size: 180px;
        text-transform: capitalize;
      }

      @include mobile {
        top: -30px;
        right: -15px;
      }
    }

    .pack-parallelogram {
      .price__container {
        .widget__text-image {
          span {
            padding-top: 3px;
          }
        }
      }
    }

    &:hover {
      .chest__image {
        @include flip-up-down(2s);
      }
    }

    .mobile-sale-tag {
      position: absolute;
      top: -20px;
      right: -16px;
      display: block;
      height: 100px;
      width: auto;
    }

    .pack-parallelogram {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: -8px;
      width: 250px;
      pointer-events: none;
    }

    .header__label {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 50px;
      z-index: 1;

      span {
        padding-top: 4px;
        font-size: $font-size-header-1;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        color: $c__text__neon;
      }
    }

    .total-quantity {
      margin-top: 24px;
      font-size: $font-size-header-2;
      position: relative;
      z-index: 1;
    }

    .combo-detail__container {
      display: inline-flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      padding-top: 12px;

      .chest__image {
        width: 380px;
        max-width: 100%;
      }

      .cubego__listview {
        display: flex;
        flex-wrap: wrap;
        width: 300px;

        .cubego__item {
          box-sizing: border-box;
          padding: 8px 4px;
          width: 33%;
          height: auto;
          position: relative;

          .cubego-name {
            text-transform: capitalize;
          }

          .quantity {
            font-size: $font-size-large;
            margin-top: -6px;
          }

          .image__container {
            margin: 0 auto;
            max-width: 100%;
            width: 70px;
            position: relative;
            img {
              width: 100%;
              height: auto;
              position: relative;
              z-index: 1;
            }
          }
        }
      }
    }

    
  }
  
  .pack-detail__container {
    padding-top: 30px;

    .cubego__listview {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
  
      .item {
        display: flex;
        width: 260px;
        max-width: 100%;
        padding: 36px 24px;
        box-sizing: border-box;
        position: relative;

      }
    }
  }
  .purchase__container {
    position: relative;
    padding: 24px 16px;
    border-width: 5px;
    border-style: solid;

    border-image: linear-gradient(to bottom right, #183345, #183345, #183345) 1;
    background: #15314E;

    .header__container {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, -50%);
      text-transform: capitalize;
      @include mobile {
        top: 56px;
      }

      svg {
        width: 200px;
      }

      span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: $c__text__neon;
        font-size: $font-size-header-1;
        white-space: nowrap;
        font-family: $f__baloobha;
        padding-top: 4px;
      }
    }

    .main__container {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 32px 16px 12px 16px;

      @include mobile {
        flex-direction: column;
        margin-top: 56px;
        box-sizing: border-box;
      }

      .confirm-action__container {
        width: 240px;
        max-width: 100%;
        flex-shrink: 0;

        .cubego__image {
          width: 200px;
          display: block;
          @include flip-up-down-10px(3s);
          margin: 0 auto;
        }

        .divider-line {
          height: 1px;
          background-color: $white70;
          margin: 4px 26px 8px 26px;
          box-sizing: content-box;
        }
        .review-item {
          padding: 0 26px;
          font-family: $f__baloobha;
          display: flex;
          justify-content: space-between;
          align-items: center;
          position: relative;

          .left {
            text-transform: capitalize;
          }

          .left {

          }
          .right {
            font-size: $font-size-bigger;
          }
        }

        .widget__button-new {
          margin-top: 8px;
        }
      }

      .pack__listview {
        width: 500px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        @include mobile {
          width: 350px;
        }

        .pack__item {
          width: 50%;
          padding: 20px 10px;
          box-sizing: border-box;
          cursor: pointer;

          .item__container {
            border-radius: 10px;
            padding: 4px;
            box-sizing: border-box;
            background-image: linear-gradient(to bottom, #2CA4F6 0%, #AAF0FE 100%);

            &.active {
              background-image: linear-gradient(to bottom, #58FCFC 0%, #2183CB 100%);
              .border-gradient__layer {
                //background: linear-gradient(to bottom, #2CA4F6, #AAF0FE);
                background: linear-gradient(to bottom, #ffa381, #fb575a);
              }
            }

            .border-gradient__layer {
              display: flex;
              align-items: center;
              justify-content: center;
              position: relative;
              background: linear-gradient(to bottom, #58FCFC, #2183CB);

              border-radius: 10px;
              padding-top: 20px;
              padding-bottom: 28px;

              .sale-tag {
                position: absolute;
                top: -24px;
                left: -20px;
                height: 64px;
                display: block;
                width: auto;

                &.tag-6 {
                  left: -24px;
                }
              }
            }
          }

          .detail__label {
            text-align: left;
            padding-left: 4px;
            .header__label {
              line-height: 36px;
              color: $regal_blue;
              font-size: $font-size-large;
              font-family: $f__baloobha;
            }
            .cubegoes-quantity__label {
              font-family: $f__baloobha;
              font-size: $font-size-normal;
            }
          }
          img {
            width: 60px;
          }
        }
      }
    }
    
    .purchase-action__container {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 50%);

      .purchase__group-button {
        .popup-parallelogram {
          width: 120px;
          .main-content {
            height: 34px;
          }

          .shadow-layer {
            background: transparent !important;
          }

          .price__container {
            width: 105%;
            position: relative;
            left: -3px;
            font-size: $font-size-big;
            .widget__text-image {
              img {
                margin-left: 3px !important;
              }
              &.active {
                background: linear-gradient(to bottom, #ee814e, #fb575a);
              }
            }
          }
        }

        
      }

      .discount {
        display: none;
        //display: flex;
        justify-content: center;
        background-image: url('../../../../shared/img/assets/ribbon.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-origin: border-box;
        font-style: italic;
        font-family: $f__overpass;
        position: relative;
        &.hidden {
          display: none;
        }

        &:after {
          content: '';
          position: absolute;
          left: 50%;
          top: 50%;
          width: 90%;
          height: 1px;
          background: $white;
          transform: translate(-50%, -50%);
        }
      }
    }
  }
}

