@import '../../styles/colors';
@import '../../styles/mixins';
@import '../../styles/variables';

.widget__container {
  box-sizing: border-box;
  padding: 0 16px;
  max-width: 100%;
  margin: 0 auto;

  &.text {
    width: 700px;
  }
  &.normal {
    width: 1000px;
  }
  &.small {
    width: 900px;
  }
  &.mini {
    width: 600px
  }
  &.super_tiny {
    width: 350px;
  }
  &.tiny {
    width: 700px;
  }
  &.big {
    width: 1100px;
  }
  &.large {
    width: 1200px;
  }
  &.very_large {
    width: 100%;
  }
}