@import '../../styles/colors';
@import '../../styles/mixins';
@import '../../styles/variables';
@import '../../styles/fonts';

.widget__text {
  margin: 4px 0;

  &.h1 {
    font-family: $f__baloobha;
    font-size: 48px;
    text-transform: uppercase;
  }

  &.h2 {
    font-family: $f__baloobha;
    font-size: 30px;
    text-transform: uppercase;
  }

  &.h3 {
    font-family: $f__baloobha;
    font-size: 24px;
  }
  &.h4 {
    font-family: $f__baloobha;
    font-size: 16px;
  }

  &.t1 {
    font-size: $font-size-medium;
  }

  &.t2 {
    font-size: $font-size-normal;
  }

  &.link {
    color: $c__blue-1;
    cursor: pointer;
    font-style: normal;
  }
  &.sublink {
    opacity: 0.8;
    text-decoration: underline;
    cursor: pointer;
    font-size: $font-size-small;
    &:hover {
      opacity: 1;
    }
  }

  &.uppercase {
    text-transform: uppercase;
  }
  &.capitalize {
    text-transform: capitalize;
  }
}

.widget__text-image {
  &.uppercase {
    text-transform: uppercase;
  }
  &.capitalize {
    text-transform: capitalize;
  }

  display: flex;
  // align-items: center;
  justify-content: center;
  img {
    height: 20px !important;
    width: auto !important;
    margin-left: 8px !important;
  }
}