
$font-size-nano: 10px;
$font-size-tiny: 12px;
$font-size-smaller: 13px;
$font-size-small: 14px;
$font-size-normal: 15px;
$font-size-medium: 16px;
$font-size-big: 17px;
$font-size-bigger: 18px;
$font-size-large: 20px;
$font-size-header-1: 24px;
$font-size-header-2: 30px;
$font-size-header-3: 36px;

$font-weight-extra-light: 200;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;
$font-weight-black: 900;

$duration-default: 300ms;