@import '../../../styles/colors';
@import '../../../styles/mixins';
@import '../../../styles/variables';
@import '../../../styles/fonts';

.footer__wrapper {
  position: relative;
  width: 100%;
  font-size: $font-size-small !important;
  padding: 32px 8px;
  border-top: 40px solid transparent;
  border-image: url('../../../../shared/img/assets/wall_pattern_1.svg') 100 0 repeat;
  background-clip: padding-box;
  background-color: rgb(6, 106, 141);
  color: $white;
  box-sizing: border-box;

  .footer__divider {
    margin-bottom: 40px;
    width: 100%;
  }

  .footer__main {
    display: flex;
    padding: 16px 0;
    justify-content: space-between;
    align-items: center;
    min-height: 160px;
    @include mobile {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  .footer__left {
    display: flex;
    flex-direction: column;
    min-height: 140px;
    align-items: center;

    @include mobile {
      justify-content: center;
      .footer__logo, .footer__copyright {
        margin-left: auto;
        margin-right: auto;
        display: block;
      }
    }

    .footer__logo {
      display: block;
      width: 300px;
      max-width: 50%;
      margin-bottom: 24px;
    }
    
    .footer__copyright {
      font-size: $font-size-small;
      text-align: center;
    }
  }
  
  .footer__right {
    display: flex;
    flex-direction: column;
    text-decoration: none !important;
    

    .footer__right-content {
      display: flex;
      margin: 0 5px 16px 5px;
      font-size: $font-size-normal;

      .footer__term-policy, .footer__service-customer {
        display: block;
        width: 50%;
        @include mobile {
          padding-left: 25px;
        }

        a, p {
          text-decoration: none;
          color: inherit;
        }

        a, p {
          font-style: normal;
          cursor: pointer;
        }
        a:hover, p:hover {
          color: $blue-light;
        }
      }
    }
    .footer__right-social {
      display: flex;
      flex-wrap: wrap;
      img {
        overflow: hidden;
        width: 32px;
        height: 32px;
        margin: 5px;
        @include transition-duration;
        &:hover {
          filter: invert(100%);
        }
      }
    }
  }

  &.bright {
    border-image: url('../../../../shared/img/assets/wall_pattern_2.svg') 100 0 repeat;
    background-color: rgba(189, 223, 244, 1);
    color: $c__gray-1;
  }
  &.dark {
    border-image: url('../../../../shared/img/assets/wall_pattern_3.svg') 100 0 repeat;
    background-color: rgba(18, 34, 48, 1);
    color: $white95;
  }

  .footer__contracts {
    padding: 60px 80px;
    text-align: left;
    @include mobile {
      padding: 24px 16px;
    }

    .header {
      font-family: $f__baloobha;
      font-size: $font-size-header-2;
      border-bottom: 1px solid $white90;
    }

    .list {
      padding-top: 16px;
      a {
        display: block;
        padding: 4px 0;
        text-decoration: none;
      }
    }
  }
}