@import '../../styles/colors';
@import '../../styles/mixins';
@import '../../styles/variables';
@import '../../styles/fonts';


.referral-view__container {
  padding: 3px;
  background: #83DAF7;
  border-radius: 10px;
  box-shadow: 0px 0px 23px 5px rgba(131,218,247,1);
}

.referral-box__container {
  display: flex;
  position: relative;
  //height: 90px;
  border: 3px solid #194379;
  border-radius: 10px;
  justify-content: space-between;
  padding: 8px 16px;
  align-items: center;
  color: #194379;
  box-shadow: inset 0 0 20px #FFFFFF;

  @include mobile {
    flex-direction: column;
    height: 144px;
  }

  .fa-facebook-square, .fa-twitter-square {
    margin: 0 2px;
    color: $white;
    font-size: $font-size-header-2;
    &:hover {
      filter: contrast(50%);
    }
    cursor: pointer;
  }

  .unicorm__image {
    position: relative;
    max-height: 100px;
    @include mobile {
      display: none;
    }
  }

  .referral-main__container {
    text-align: right;
    flex-grow: 1;
    max-width: 50%;

    @include mobile {
      max-width: 100%;
    }

    .action__container {
      span {
        color: #12314F;
        font-family: $f__baloobha;
        font-size: $font-size-small;
        margin-right: 8px;
        text-decoration: underline;
        cursor: pointer;

        &:hover {
          color: $c__blue-1;
        }
      }
    }

    .input__container {
      cursor: pointer;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 8px 12px;
      background: #12314F;
      border-radius: 5px;
      position: relative;

      .explain__label {
        position: absolute;
        left: 0;
        right: 0;
        bottom: -4px;
        transform: translateY(100%);
        font-family: $f__baloobha;
        font-size: $font-size-small;
        text-align: center;
      }

      .input-referral {
        flex-grow: 1;
        padding-left: 8px;
      }

      input[type=text] {
        width: 100%;
        background: transparent;
        border: 0;
        outline: none;
        color: $white;
        cursor: pointer;
        font-size: $font-size-small;
        font-weight: $font-weight-semi-bold;
        @include ellipsis;
      }

      img {
        display: block;
        height: 24px;
      }
    }
  }

  .header__container {
    width: 160px;
    height: 36px;
    position: absolute;
    top: -4px;
    left: 50%;
    transform: translate(-50%, -50%);
    //z-index: 0;

    span {
      padding-top: 4px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: $white;
      font-family: $f__baloobha;
      font-size: $font-size-large;
      white-space: nowrap;
    }
  }

  .referral-title {
    padding: 0 16px;
    max-width: 40%;
    font-family: $f__baloobha;
    font-size: $font-size-small;
    text-align: left;

    @include mobile {
      padding-top: 16px;
      padding-left: 0;
      padding-bottom: 16px;
      max-width: 100%;
    }

    span {
      span {
        color: #D8281A;
        font-size: $font-size-large;
      }
    }
  }
}