@import '../../styles/mixins';
@import '../../styles/colors';
@import '../../styles/variables';

.vis-hidden {
  opacity: 0 !important;
}

.vis-collapse {
  opacity: 0 !important;
  height: 0 !important;
  padding: 0 !important;
}

.animated {
  &.swirl-in-fwd {
    @include swirl-in-fwd;
  }

  &.scale-in-hor-left {
    @include scale-in-hor-left(1s);
  }

  &.custom {
    @include expand(0s, 1s);
  }
}