@import '../../styles/mixins';
@import '../../styles/colors';
@import '../../styles/variables';
@import '../../styles/fonts';

.game-intro-page__container {
  margin-top: 140px;
  margin-bottom: 32px;
  font-family: $f__overpass;
  color: $gray-dark;
  font-size: $font-size-small;
  @include mobile {
    margin-top: 30px;
  }

  .header--orange {
    border-bottom: 2px solid #FF6C00;
    display: inline-block;
    font-size: 40px;
    color: $c__text__orange;
    font-family: $f__baloobha;
    margin: 24px 0;
  }
  .header--orange-small {
    display: inline-block;
    font-size: 32px;
    font-weight: $font-weight-extra-bold;
    color: $c__text__orange;
    margin: 16px 0;
  }
  .header--blue {
    color: $c__text__blue;
    font-weight: $font-weight-bold;
    font-size: $font-size-header-1;
    margin: 8px 0;
  }
  .header--blue-small {
    color: $c__text__blue_2;
    font-size: 28px;
    font-family: $f__baloobha;
    font-weight: $font-weight-light;
    margin: 8px 0;
  }
  .header--sub {
    font-weight: $font-weight-bold;
    font-size: $font-size-bigger;
    position: relative;
    color: $c__text__blue-2;
    margin: 8px 0 32px 0;

    &:after {
      content: '';
      position: absolute;
      left: 50%;
      bottom: -16px;
      transform: translateX(-50%);
      width: 32px;
      height: 5px;
      background: #48E8FF;
    }
  }
  .header--detail {
    font-weight: $font-weight-semi-bold;
    color: $c__text__blue-2;
    font-size: $font-size-normal;
    max-width: 800px;
    margin: 0 auto;
    padding: 8px 0;
  }
  .text--highlight {
    font-weight: $font-weight-semi-bold;
    font-size: $font-size-small;
    max-width: 800px;
    margin: 0 auto;
    padding: 8px 0;
  }
  .text--normal {
    margin: 4px 0;
    font-size: $font-size-small;
    //font-weight: $font-weight-medium;
  }

  .background {
    &:before, &:after {
      @include border-radius(4px);
      background-size: 100% 100%;
    }

    &.red {
      &:before {
        background-image: url('../../../shared/img/background/background_red.png');
      }
      &:after {
        background-image: url('../../../shared/img/background/padding_red.png');
      }
    }
    &.yellow {
      &:before {
        background-image: url('../../../shared/img/background/background_yellow.png');
      }
      &:after {
        background-image: url('../../../shared/img/background/padding_yellow.png');
      }
    }
    &.blue {
      &:before {
        background-image: url('../../../shared/img/background/background_blue.png');
      }
      &:after {
        background-image: url('../../../shared/img/background/padding_blue.png');
      }
    }

    &:before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 1;
    }

    &:after {
      content: "";
      position: absolute;
      top: -30px;
      bottom: -30px;
      left: 0;
      right: 0;
    }

    @include not-mobile {
      &.left {
        &:before {
          left: calc(50% - 10px);
        }
        &:after {
          left: calc(50% + 60px);
        }
      }
      &.right {
        &:before {
          right: calc(50% - 10px);
        }
        &:after {
          right: calc(50% + 60px);
        }
      }
    }
  }

  .sub-background {
    position: relative;

    &:after {
      content: "";
      position: absolute;
      background-repeat: no-repeat;
      height: 600px;
      width: 100%;
      background-size: auto 100%;
      top: -100px;
      z-index: 0;
    }

    &.left:after {
      left: -80px;
      background-position: left;
    }
    &.right:after {
      right: -80px;
      background-position: right;
    }
    &.yellow {
      &.left:after {
        background-image: url('../../../shared/img/game_intro/sub_background_yellow_left.png');
      }
      &.right:after {
        background-image: url('../../../shared/img/game_intro/sub_background_yellow_right.png');
      }
    }
    &.blue {
      &.left:after {
        background-image: url('../../../shared/img/game_intro/sub_background_blue_left.png');
      }
      &.right:after {
        background-image: url('../../../shared/img/game_intro/sub_background_blue_right.png');
      }
    }

  }

  .main__header {
    font-family: $f__baloobha;
    position: relative;
    display: inline-block;
    width: 45%;
    @include mobile {
      width: 100%;
    }

    .header {
      font-size: 50px;
      text-transform: capitalize;
      color: $white;
      position: relative;
      z-index: 2;
      padding-top: 16px;
      padding-bottom: 8px;
    }

    &:after {
      content: '';
      position: absolute;
      height: 100%;
      width: 2000px;
      top: 0;
      background: #0C4A7E;
      z-index: 1;
      @include border-radius-without-overflow(3px);
    }

    &.left  {
      float: left;
      &:after {
        right: 0;
      }
    }

    &.right  {
      float: right;
      padding-left: 20px;
      &:after {
        left: 0;
      }
      &:before {
        content: ".";
        visibility: hidden;
        display: block;
        height: 0;
        clear: both;
      }
    }
  }

  .content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    clear: both;
    position: relative;
    justify-content: space-between;
    z-index: 2;

    .content-desc {
      width: 45%;
      height: 100%;
      @include mobile {
        width: 100%;
        text-align: center;
      }
    }

    .content-image {
      flex-grow: 1;
      position: relative;
      min-height: 300px;

      img {
        position: absolute;
        max-width: 110%;
        max-height: 150%;
        height: auto;
        left: 50%;
        bottom: 0;
        @include transform(translateX(-50%));
      }
      @include mobile {
        width: 100%;
        img {
          max-width: 100%;
          max-height: 100%;
        }
      }
    }

    &.left {
      .content-desc {
      }
    }

    &.right {
      .content-desc {
        //padding-right: 36px;
        order: 2;
      }
    }
    &.left, &.right {
      .content-desc {
        @include mobile {
          padding: 0;
        }
      }
    }

  }

  .guide__game-intro {
    .principles {
      margin-top: 80px;
      text-align: center;

      .principles__list-item {
        display: flex;
        @include mobile {
          flex-wrap: wrap;
        }

        .item {
          padding: 12px;

          .principles-types {
          }

          p {
            font-size: $font-size-small;
          }
        }
      }
    }
  }

  .guide__cubego-intro {
    margin-top: 100px;
    .content-desc {

    }
    .tier-type-cubego {
      margin-top: 50px;

      .intro-tier-type__container {
        text-align: center;
        .intro-tier-type__label {

        }
        p {
          font-weight: $font-weight-semi-bold;
          color: $c__text__blue-2;
        }
      }

      .tier-detail__container {
        margin: 60px 0;
        text-align: center;
        .tiers__header {

        }
        .text--highlight {
          max-width: 800px;
          margin: 0 auto;
        }
        .tiers__desc {
          //font-weight: $font-weight-medium;
          //font-size: $font-size-small;
          margin: 8px 0;
        }

        .tiers__list-view {
          max-width: 700px;
          margin: 0 auto;
          padding-top: 20px;
          @include mobile {
            padding: 0;
          }
          .item {
            padding: 8px 0;
            display: flex;
            align-items: center;
            img {
              width: 120px;
              margin-right: 16px;
              @include mobile {
                width: 100px;
                margin-right: 8px;
              }
            }

            .tier__content {
              text-align: left;

              .tier__label {
                position: relative;
                color: #45146D;
                font-size: $font-size-bigger;
                font-family: $f__baloobha;
                padding-bottom: 8px;

                &:after {
                  position: absolute;
                  content: '';
                  width: 40px;
                  height: 2px;
                  background: #EBCA00;
                  left: 0;
                  bottom: 0;
                }
              }

              .tier__desc {
                padding-top: 8px;
                font-size: $font-size-small;
              }
            }
          }
        }
      }
    }
  }

  .cubego-stats__container {
    text-align: center;
    background-image: url('../../../shared/img/background/background-new.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    padding: 40px 0;

    .header__container {
      .attributes__header {
        color: #00E5FD;
      }
    }

    .sub-header__container {
      display: flex;
      padding-top: 24px;
      justify-content: space-evenly;

      .sub-header {
        padding: 4px 8px;
        font-family: $f__baloobha;
        font-size: $font-size-bigger;
        color: #00E5FD;

        .type__label, .strength__label {
          position: relative;
          &:after {
            position: absolute;
            width: 24px;
            height: 3px;;
            content: '';
            background: #F95523;
            bottom: -8px;
            left: 50%;
            transform: translateX(-50%);
          }
        }
      }

      p {
        color: $white95;
        font-family: $f__overpass;
        font-weight: $font-weight-medium;
        font-size: $font-size-small;
        max-width: 300px;
      }
    }
  }

  .guide__cubegon-intro {
    margin-top: 120px;

    .cubegon-logic__container {
      margin-top: 40px;
      text-align: center;
      position: relative;

      .cubegon-logic__sub-section {
        position: relative;
        margin: 120px 0;
        color: $white95;
        text-align: left;

        .content-image {
          img {
            top: 50%;
            @include transform(translateX(-50%) translateY(-50%));
          }
        }

        .left {
          .content-desc {
            padding: 32px;
          }
        }
        .right {
          .content-desc {
            padding: 32px 0;
          }
        }

        .right, .left {
          .content-desc {
            @include mobile {
              padding: 16px;
            }
          }
        }

        .cubegon__header {
          font-size: $font-size-large;
          font-family: $f__baloobha;
          color: $white;
        }

      }

      .header {
        p {
          font-weight: $font-weight-bold;
        }
      }
    }

    .cubegon-properties__container {
      text-align: center;

      img {
        display: inline-block;
        height: 300px;
        max-height: 100%;
        width: auto;
        padding: 20px 0;
      }

      p {
        font-weight: $font-weight-bold;
      }

      div {
        p {
          font-weight: $font-weight-medium;
        }
      }

      .cubegon-types {
        margin-top: 44px;
      }

      .cubegon-stats {
        margin-top: 44px;
        .content {
          display: flex;
          justify-content: center;
          img {
            width: 500px;
            max-width: 100%;
            height: auto;
          }
        }
      }

      .cubegon-tiers {
        margin-top: 44px;
        .cubegon-tiers__listview {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-wrap: wrap;
          .item {
            &:nth-child(1) {
              .cubegon-tier__label {
                color: #2D3047;
              }
            }

            &:nth-child(2) {
              .cubegon-tier__label {
                color: #CA481F;
              }
            }

            &:nth-child(3) {
              .cubegon-tier__label {
                color: #229AD7;
              }
            }

            &:nth-child(4) {
              .cubegon-tier__label {
                color: #F51878;
              }
            }

            width: 20%;
            padding: 8px;

            @include mobile {
              width: 45%;
            }

            .img {
              position: relative;
              height: 120px;

              img {
                position: absolute;
                top: 50%;
                left: 50%;
                @include transform(translateX(-50%) translateY(-50%));
                width: 240px;
                height: auto;
                max-height: none;
                padding: 0;
              }
            }

            .desc {
              padding-top: 8px;
              font-size: $font-size-tiny;
            }
            .sub {
              font-weight: $font-weight-bold;
              font-size: $font-size-tiny;
            }
            .value {
              color: #F95523;
              font-family: $f__baloobha;
              font-size: $font-size-bigger;
              padding-top: 16px;
            }

            p {
              font-size: $font-size-tiny;
              font-weight: $font-weight-extra-light;
            }

            .cubegon-tier__label {
              font-family: $f__baloobha;
              font-size: $font-size-bigger;
            }
          }
        }
      }

      .cubegon-stats {
        img {
          margin-bottom: -40px;
        }
      }
      .cubegon-skills {
        margin-top: 60px;
        img {
          width: 500px;
          max-width: 100%;
          height: auto;
          padding: 0;
          margin-top: -50px;
          margin-bottom: -30px;
        }
      }

      .cubegon-energy {
        margin-top: 44px;
      }

    }

    .cubegon-dismantle-reassemble__container {
      margin-top: 60px;
      text-align: center;

      p {
        font-weight: $font-weight-bold;
      }
    }
  }

  .guide__combat-intro {
    margin-top: 88px;
    img {
      max-height: 512px !important;
    }
  }

  .guide__what-next {
    margin-top: 88px;

    .header--detail {
      span span {
        color: $red;
        font-weight: $font-weight-bold;
      }
    }
  }

  .guide__last {
    text-align: center;
    padding: 80px 0 20px 0;

    .text {

    }
    .build-your-cubegon__header {
      margin-top: 44px;
      margin-bottom: 24px;
      font-family: $f__baloobha;
      font-size: $font-size-header-3;
      color: #FFBE02;
    }
  }

  .cubego-stats-details__container {
    overflow: auto;
    padding-top: 30px;
  }

  .attribute-table {
    color: $white95;
    margin: 0 auto;
    text-align: center;
    overflow: auto;

    .header {
      font-size: $font-size-big;
      th {
        border-bottom: 1px solid $c__blue-1;
      }
    }
    .sub-header {
      font-size: $font-size-smaller;
      th {
        border-bottom: 2px solid $c__blue-1;
      }
    }

    th, td {
      height: 30px;
      padding: 2px 8px;
    }
    img {
      height: 100%;
      max-height: 24px;
    }

    tbody {
      font-size: $font-size-normal;
      font-weight: $font-weight-extra-bold;
    }

    .material-variants {
      img {
        margin: 0 4px;
        display: inline-block;
        box-shadow: 0 0 6px 0 $c__text__neon;
      }
    }

    .material-name {
      color: transparent;
    }
    .tier-1, .tier-2, .tier-5, .tier-8, .tier-12 {
      .material-name {
        color: $white95;
      }
    }
    .tier-1, .tier-4, .tier-7, .tier-11 {
      td {
        border-bottom: 2px solid rgb(0, 45, 71);
      }
    }
  }
}