@import '../../../styles/colors';
@import '../../../styles/mixins';
@import '../../../styles/variables';

.filter-bar {
  .filter-bar__basic {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    .filter-bar__left, .filter-bar__right {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      margin: 0 -8px;
      @include mobile {
        justify-content: center;
      }
    }
    .filter-bar__filter {
      margin: 4px 8px;
    }
    .filter-bar__filter-toggle {
      cursor: pointer;
      &:hover, &.open {
        .icon {
          color: $primary;
        }
      }
    }
    @include mobile {
      justify-content: center;
    }
  }

  .filter-bar__advance {
    &.close {
      display: none;
    }
    &.open {
      display: block;
    }
  }

  .filter-bar__filter-range {
    min-width: 160px;
  }
}
