@import '../../styles/mixins';
@import '../../styles/colors';
@import '../../styles/variables';
@import '../../styles/fonts';

.mycubegoes-page__container {
  margin-top: 60px;
  margin-bottom: 32px;

  .my-cubegon-info__container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 12px 0;
    background: rgba(59, 83, 99, 1);
    color: $white;

    .avatar__container {
      position: absolute;
      top: 0;
      right: 100%;
      width: 80px;
      height: 72px;
      background: rgba(59, 83, 99, 1);
      clip-path: polygon(12% 0, 100% 0, 100% 20%, 100% 80%, 80% 100%, 12% 100%, 0 88%, 0 12%);

      .avatar {
        position: absolute;
        transform: translateY(-50%);
        left: 10px;
        top: 50%;
        width: 60%;
        border: 1px solid $white;
        border-radius: 8px;
        

        &:before{
          content: "";
          display: block;
          padding-top: 100%; 	/* initial ratio of 1:1*/
        }
      }
    }

    .group {
      display: flex;
      flex-direction: row;

      .item {
        display: flex;
        flex-direction: row;
        align-items: center;

        &.info {
          background: rgba(49, 60, 73, 1);
          border-radius: 8px;
          margin: 0 8px;
          padding: 5px 8px;
          color: $white;

          .label {
            font-size: $font-size-small;
            margin-right: 8px;
          }

        }

        .owner-name {
          font-family: $f__baloobha;
          color: $white;
          font-size: $font-size-medium;
        }
      
        .id {
          font-size: $font-size-smaller;
        }

        .icon-value {
          display: flex;
          align-items: flex-end;

          font-family: $f__baloobha;
          font-size: $font-size-big;

          img {
            height: 24px;
            width: auto;
          }
        }
      }
    }
  }

  .combat-title {
    margin-top: 16px;
  }

  .combat-stats__container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    border-top: 1px solid $white;
    border-bottom: 1px solid $white;
    padding: 8px 0;
    margin-bottom: 24px;

    .item {
      flex-grow: 1;
      text-align: center;
      color: $white;
      width: 25%;
      box-sizing: border-box;

      .content {
        font-size: $font-size-large;
        font-weight: $font-weight-bold;
      }

      .label {
        color: rgba(110, 243, 252, 1);
      }

      img {
        width: 44px;
        height: auto;
      }

      &:nth-child(-n + 3) {
        border-right: 1px solid $white;
      }
    }
  }

  .cubego-view__container {
    margin-top: 16px;
    .cubego__button-list {
      display: flex;
      justify-content: center;
    }
  }

  .list-item__container {
    display: flex;
    flex-wrap: wrap;
    .card-item {
      width: 25%;
      padding: 16px;
      box-sizing: border-box;

      @include mobile {
        width: 50%;
      }
    }
  }
}