@import '../../styles/mixins';
@import '../../styles/colors';
@import '../../styles/variables';
@import '../../styles/fonts';

.gallery-page__container {
  margin-top: 60px;
  margin-bottom: 32px;

  .slider-show__container {
    height: 120px;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    @include no-scroll-bar;
    @include smooth-scroll;

    .slider-cell {
      border-left: 4px solid $white90;
      transform: skew(-20deg);
      display: inline-block;
      background: rgba(0, 0, 0, 0.3);
      padding: 0 8px;
      img {
        transform: skew(20deg);
        display: block;
        height: 120px;
        width: auto;
      }
    }
  }

}