@import '../../styles/mixins';
@import '../../styles/colors';
@import '../../styles/variables';
@import '../../styles/fonts';

.model-editor {
}

.model-editor__container {
  color: $white;
  text-align: right;
  padding-top: 60px;
  padding-bottom: 60px;

  .model-editor__tool-bar {
    position: relative;

    .bar {
      //overflow-x: auto;
      display: flex;
      margin: 32px -8px 0 -8px;
      justify-content: space-between;
      @include not-computer {
        overflow-x: auto;
        width: 100%;
        margin: 32px 0 0 0;
      }

      .group {
        margin: 0 8px;
        display: flex;
        border-radius: 4px;
      }

      .item {
      }
    }

    .model-editor__templates {
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      display: flex;
      flex-wrap: wrap;
      z-index: 10;
      background-color: $c__background-2;
      @include border-radius-without-overflow(4px);
      padding: 12px 12px 2px 12px;

      .template {
        padding: 4px;
        text-align: center;
        cursor: pointer;
        position: relative;
        &:hover {
          background-color: $c__blue-3;
        }

        .fa-times-circle {
          position: absolute;
          right: 8px;
          top: 8px;
          font-size: $font-size-header-1;
          color: $white;
          opacity: 0.2;
          &:hover {
            opacity: 1;
          }
        }
      }
      .img {
        height: 100px;
        @include mobile {
          height: 90px;
        }
      }
      .name {
        padding-top: 4px;
        font-family: $f__baloobha;
        text-transform: capitalize;
        font-size: $font-size-small;
      }
    }
  }

  .model-editor__stats {
    margin-top: 12px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: 4px;
    position: relative;
    z-index: 4;

    .material {
      display: flex;
      align-items: center;
      flex-wrap: wrap;

      .total {
        span {
          font-weight: $font-weight-black;
          font-size: $font-size-bigger;
          span {
            font-size: $font-size-normal;
          }
        }
      }

      .cube {
        padding-left: 16px;
        display: flex;
        align-items: center;
        font-weight: $font-weight-black;
        font-size: $font-size-small;

        img {
          height: 26px;
          margin-right: 4px;
        }
      }
    }

    .stats {
      flex-grow: 1;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      .stat {
        display: flex;
        align-items: center;
        padding-left: 20px;
        font-weight: $font-weight-black;
        img {
          height: 26px;
          margin-right: 8px;
        }
      }
    }
  }

  .model-editor__tier-bar {
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: rgba(255, 255, 255, 0.3);
    height: 6px;
    position: relative;
    z-index: 3;
    @include border-radius-without-overflow(8px);

    .bar {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      background-color: rgb(29, 220, 244);
      @include border-radius-without-overflow(8px);
      @include transition-duration;
      max-width: 100%;
    }
    .tier {
      //&.Challenger, &.challenger {
      //  padding-left: 24px;
      //}
      //&.Elite, &.elite {
      //  padding-left: 32px;
      //}

      position: absolute;
      top: 50%;
      @include transform(translateX(-50%) translateY(-50%));
      @include transition-duration;
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        pointer-events: none;
        width: 80px;
        @include transition-duration;
        &.with-effect {
          display: none;
        }
        &.no-effect {
          display: block;
        }
      }

      &.active {
        img {
          width: 120px;
          &.with-effect {
            display: block;
          }
          &.no-effect {
            display: none;
          }
        }
      }
    }
  }

  .model-editor__canvas {
    display: flex;
    align-items: stretch;
    margin: 8px -8px 0 -8px;
    @include mobile {
      flex-wrap: wrap;
    }

    .model-editor__left, .model-editor__right {
      padding: 8px;
      flex-grow: 1;
      flex-basis: 50%;
      @include mobile {
        width: 100%;
      }
    }

    .model-editor__right {
      position: relative;
      min-height: 300px;
    }

    .model-editor__3d {
      background-color: #354662;
      position: relative;

      .model-editor__model-error {
        z-index: 2;
        position: absolute;
        top: 16px;
        left: 16px;
        right: 60px;
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 0;

        img {
          height: 24px;
          padding-right: 4px;
        }
        p {
          margin: 0;
          text-align: left;
          font-size: $font-size-normal;
        }
      }

      .model-editor__3d-file-loader {
        position: absolute;
        z-index: 3;
        right: 18px;
        top: 108px;
        .upload-expense {

        }
      }

      .model-editor__3d-capture {
        position: absolute;
        z-index: 4;
        right: 18px;
        top: 60px;
        cursor: pointer;

        img {
          display: block;
          width: 36px;
        }
      }

    }

    .model-editor__2d {
      position: absolute;
      top: 8px;
      bottom: 8px;
      right: 8px;
      left: 8px;
      //display: flex;
      //align-items: center;
      //justify-content: center;
      overflow: auto;
      background-color: #edfbee;
      @include smooth-scroll;
    }

    .model-editor__2d-zoom {
      position: absolute;
      top: 16px;
      right: 24px;
      z-index: 2;

      .item {
        @include transition-duration;
        opacity: 0.8;
        cursor: pointer;
        img {
          width: 26px;
        }
        &:hover {
          @include transform(scale(1.2, 1.2));
        }
      }
    }
  }

  .model-editor__material {
    margin-top: 8px;
    display: flex;
    @include mobile {
      flex-wrap: wrap;
    }
    justify-content: space-between;
    .cube {
      flex-basis: calc(100%/12);
      flex-grow: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-bottom: 4px;
      font-weight: $font-weight-black;
      font-size: $font-size-small;
      box-sizing: content-box;
      cursor: pointer;
      img {
        height: 26px;
        margin-right: 4px;
      }

      border-bottom: 3px solid $gray-light;
      &.active {
        border-bottom: 3px solid #ff9001;
      }
      &.overused {
        color: $c__text__red;
        font-size: $font-size-small;
      }
      &.for-sale.overused {
        color: $c__text__orange;
        font-size: $font-size-small;
      }
    }
    .space-rest {
      flex-grow: 1;
      border-bottom: 2px solid $gray-light;
    }
  }

  .model-editor__color-note {
    text-align: center;
    font-size: $font-size-normal;
    padding-top: 4px;
    font-weight: $font-weight-bold;

    a {
      //text-decoration: none;
      font-style: normal;
    }

    &.error {
      color: $c__text__red;
    }
    &.warning {
      color: $c__text__orange;
    }
  }

  .model-editor__tool {
    padding-top: 12px;
    width: 100%;
    display: flex;

    @include mobile {
      flex-wrap: wrap;
    }
    .model-editor__colors {
      padding-top: 8px;
      flex-basis: 50%;
      justify-content: space-between;
      flex-shrink: 0;

      .color-tool {
        padding-right: 8px;
      }
      @include mobile {
        flex-basis: 100%;
      }
    }
    .model-editor__layer {
      width: 1px;
      flex-basis: 50%;
      @include mobile {
        flex-basis: 100%;
      }

      .widget__picker-bar {
        padding-left: 8px;
      }

      .model-editor__layer-btns {
        padding-top: 12px;
        padding-right: 28px;
      }
    }
  }

  .model-editor__btns {
    text-align: center;
    padding-top: 16px;
  }

  .model-editor__error {
    padding: 40px;
    background-color: $regal_blue;
    color: $white95;

    .header {
      padding-top: 6px;
      font-family: $f__baloobha;
      color: $c__text__orange;
      font-size: $font-size-header-2;
    }

    .matched-gons {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }

    .matched-gon {
      padding: 24px 4px;
      img {
        width: 200px;
        background-color: rgba(0, 0, 0, 0.6);
        @include border-radius(6px);
        cursor: pointer;
      }
    }

    .notice {
      width: 100%;
      font-size: $font-size-medium;
      max-width: 500px;
      font-weight: $font-weight-semi-bold;
      padding-top: 8px;
    }
  }

  .model-editor__model-capture {
    padding: 32px 16px;
    .image {
      img {
        width: 400px;
        max-width: 100%;
      }
    }
    .actions {
      padding-top: 8px;
      .action {
        padding: 2px;
        cursor: pointer;
        text-decoration: none;
        &:hover {
          opacity: 0.9;
        }
        img {
          height: 40px;
        }
      }
    }
  }
}
