@import '../../styles/mixins';
@import '../../styles/colors';
@import '../../styles/variables';


.model-editor {
  display: flex;
  @include mobile {
    flex-wrap: wrap;
  }

  .model-editor__left {
    width: 600px;
    max-width: 100%;
    flex-direction: column;
    justify-content: space-between;
  }
  .model-editor__right {
    flex-grow: 1;
  }


}