@import '../../styles/mixins';
@import '../../styles/colors';
@import '../../styles/variables';
@import '../../styles/fonts';

.review-page__container {
  margin-top: 60px;
}

.review-page__main {
  display: flex;
  flex-wrap: wrap;
  color: $white;
  padding: 40px 24px 44px 24px;

  .cube {
    display: flex;
    align-items: center;
    img {
      height: 32px;
    }
    text-transform: capitalize;
  }

  .currency {
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      margin-right: 5px;
      height: 24px;
    }
  }

  .model-review__container {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 16px;

    @include mobile {
      width: 100%;
      margin-bottom: 24px;
      padding-right: 0;
    }

    .model-review {
      min-height: 500px;
      width: 100%;
      @include mobile {
        min-height: auto;
      }
      background: rgba(0, 0, 0, 0.2);
      border-radius: 16px;
      margin-bottom: 24px;
      display: flex;
      align-items: center;
      position: relative;

      .note {
        display: flex;
        align-items: center;
        position: absolute;
        bottom: 8px;
        left: 50%;
        width: 90%;
        @include transform(translateX(-50%));
        justify-content: center;

        img {
          width: 20px;
          margin-right: 4px;
        }
      }
    }

    .model-info {
      display: flex;
      align-items: center;

      &.expand {
        span {
          input[type=text] {
            width: 200px;
          }
        }
      }

      span {
        text-align: center;
        flex-grow: 1;
        margin-left: 3px;
        padding: 6px;
        border-top: 1px solid $white;
        border-bottom: 1px solid $white;
        display: flex;
        align-items: center;
        background: #3e4e63;
        justify-content: center;
        cursor: pointer;

        input[type=text] {
          font-family: $f__baloobha;
          font-size: $font-size-large;
          color: $white;
          border: 0;
          background: transparent;
          outline: none;
          text-align: center;
          padding-top: 8px;
          padding-left: 32px;
          width: 120px;
          max-width: 100%;
          @include transition-duration;
        }

        img {
          display: block;
          margin-left: 8px;
          height: 12px;
          transform: rotate(120deg);
          @include transition-duration;
        }

        &:hover {
          img {
            transform: rotate(60deg);
          }
        }
      }

      .model-logo__container {
        position: relative;

        img {
          position: absolute;
          height: 72px;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          z-index: 1;
        }

        .hexagon-img {
          position: relative;
          width: 75px; 
          height: 43.30px;
          background-color: #3A78B0;
          margin: 21.65px 0;
          border-left: solid 1px $white;
          border-right: solid 1px $white;
  
          &:before, &:after {
            content: "";
            position: absolute;
            z-index: 1;
            width: 53.03px;
            height: 53.03px;
            -webkit-transform: scaleY(0.5774) rotate(-45deg);
            -ms-transform: scaleY(0.5774) rotate(-45deg);
            transform: scaleY(0.5774) rotate(-45deg);
            background-color: inherit;
            left: 9.9835px;
          }

          &:before {
            top: -26.5165px;
            border-top: solid 1.4142px $white;
            border-right: solid 1.4142px $white;
          }

          &:after {
            bottom: -26.5165px;
            border-bottom: solid 1.4142px $white;
            border-left: solid 1.4142px $white;
          }

        }

      }
    }
  }

  .model-stats {
    flex-grow: 1;
    height: 100%;
    border: 1px dashed $white;
    box-sizing: border-box;
    border-radius: 16px;
    padding: 24px;
    background-image: url('../../../shared/img/background/background_review-page.png');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: inherit;
    background-repeat: no-repeat;
    background-position: center;
    background-origin: border-box;

    .overview__header {
      color: $dark;
      text-transform: uppercase;
      font-weight: $font-weight-black;
      font-size: $font-size-small;
    }

    .overview-details {
      .stats-overview {
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        margin-top: 4px;
        border-top: 1px solid #69ffcb;
        border-bottom: 1px solid #69ffcb;
        padding: 16px 0;

        .item {
          flex-grow: 1;
          text-align: center;

          .content {
            font-family: $f__baloobha;
            font-size: $font-size-bigger;
            text-transform: capitalize;
          }

          .label {
            font-size: $font-size-smaller;
            color: #02edf7;
            text-transform: capitalize;
          }

          img {
            width: 44px;
            height: auto;
          }

          &:nth-child(-n+2) {
            border-right: 1px solid $white;
          }
        }
      }

      .energy__label {
        margin-top: 16px;
        font-size: $font-size-small;
        color: $c__text__blue-2;
        display: flex;
        align-items: center;

        .value {
          font-family: $f__baloobha;
          font-size: $font-size-header-1;
          padding-top: 6px;
          padding-left: 8px;
        }

        .note {
          padding-left: 2px;
          font-size: $font-size-tiny;
        }
      }

      .energy__note {
        padding-top: 20px;
        font-size: $font-size-small;
      }

      .total__container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .total {
          display: inline-flex;
          align-items: center;
          margin-left: 24px;
          padding: 8px 8px;
          border-radius: 5px;
          background: #dedede;
          color: $dark;
          min-width: 120px;
          justify-content: center;

          .currency {
            margin-left: 8px;
          }

          span {
            color: $dark;
            font-weight: $font-weight-black;
            font-size: $font-size-bigger;
          }
        }
      }

      .checkout__container {
        padding-top: 24px;
        text-align: right;
      }

      .energy__container {
        flex-grow: 1;
        display: inline-block;

        .slider-bar__container {
          position: relative;

          input[type=range] {
            height: 12px;
            -webkit-transition: .2s;
            transition: opacity .2s;
            border: 0;
            border-radius: 5px;
            overflow: visible;
            opacity: 1;

            &:hover {
              opacity: 1;
            }

            &::-webkit-slider-thumb {
              -webkit-appearance: none;
              appearance: none;
              width: 32px;
              height: 24px;
              border-radius: 5px;
              background: #f8b717;
              cursor: pointer;
              z-index: 1;
            }
            
            &::-ms-thumb {
              height: 37px;
              width: 16px;
            }

            &::-moz-range-thumb {
              width: 24px;
              height: 37px;
              background: #f8b717;
              cursor: pointer;
            }
          }

          .indicator {
            height: 24px;
            bottom: 0;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            
            .line {
              width: 8px;
              height: 100%;
              background: white;
              position: relative;
              margin-bottom: 32px;
              border-radius: 5px;

              &.hidden {
                background: transparent;
              }

              div {
                position: absolute;
                bottom: -100%;
                left: -50%;
                font-family: $f__baloobha;
              }
            }
          }
        }
      }

      table {
        width: 100%;
        text-align: center;
        thead {
          font-size: $font-size-smaller;
          text-transform: capitalize;
          padding-bottom: 2px;
        }

        tbody {
          tr {
            &:nth-child(odd) {
              background-image: url('../../../shared/img/background/background_row.png');
              background-repeat: no-repeat;
              background-position: center;
              -webkit-background-size: cover;
              -moz-background-size: cover;
              -o-background-size: cover;
              background-size: cover;
            }
          }
        }

        th {
          vertical-align: bottom;
        }

        th, td {
          height: 44px;
          border-bottom: 1px solid $white;
          &:nth-child(1) {
            text-align: left;
          }
        }

        span {
          padding: 1px 8px;
          border-radius: 3px;
          border: 1px solid $white;
        }


      }
    }
  }
}

.review-page__result {
  padding: 32px 16px;

  .header {
    font-family: $f__baloobha;
    color: $c__text__orange;
    font-size: $font-size-header-3;
  }
  .note {
    padding-top: 12px;
  }
  .image {
    margin: 12px 0;

    img {
      background-color: rgba(0, 0, 0, 0.6);
      @include border-radius(4px);
      width: 200px;
    }
  }
}