@import '../../../styles/mixins';
@import '../../../styles/colors';
@import '../../../styles/variables';
@import '../../../styles/fonts';

.header-bar {
  height: 40px;
  width: 100%;
  //background-color: #00000030;
  @include gradient-directional(#305cd6, #27a5c1, 360deg);
  color: $white;
  position: relative;
  z-index: 2;
  //overflow: hidden;
  box-shadow: 0 0 20px 0 rgb(0, 0, 0);

  @include mobile {
    overflow-x: scroll;
    @include no-scroll-bar;
  }

  .header-bar__container {
    height: 100%;
    display: flex;

    .content {
      z-index: 1;
    }

    .header-bar__arrow {
      position: relative;
      height: 100%;
      display: flex;
      align-items: center;
      cursor: pointer;
      padding: 0 30px;
      overflow: hidden;
      img {
        height: 24px;
      }

      &:before {
        content: "";
        position: absolute;
        top: 0;
        bottom: -200px;
        left: 0;
        right: 0;
        padding-top: 100px;
        background-color: #00000060;
        @include transform(rotate(20deg));
        transform-origin: 100% 0;
      }
    }

    .header-bar__label {
      display: flex;
      align-items: center;
      font-family: $f__baloobha;
      font-size: $font-size-header-1;
      text-transform: uppercase;
      padding: 8px 20px 0 20px;
      @include mobile {
        display: none;
      }
    }

    .header-bar__balance {
      flex-grow: 1;
      //perspective: 1000px;
      display: flex;
      justify-content: flex-end;

      .content {
        position: relative;
        transition: transform 0.8s;
        height: 100%;
        display: flex;
        flex-direction: column;
      }

      .group {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        backface-visibility: hidden;
        z-index: 1;
        //transform: rotateX(180deg);
        @include transition-duration;
        height: 100%;

        //&.active {
        //  z-index: 2;
        //  transform: rotateX(0);
        //}

        .item {
          position: relative;
          padding: 6px 20px 0 24px;
          margin-left: 30px;
          font-family: $f__baloobha;
          font-size: $font-size-large;
          color: $white;
          min-width: 40px;
          text-align: center;

          .text {
            position: relative;
            z-index: 1;
            color: $white;
          }
          .bgr {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            overflow: hidden;
            z-index: 0;

            &:before {
              content: "";
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              height: 200px;
              background-color: #00000060;
              @include transform(rotate(20deg));
              transform-origin: 100% 0;
            }
          }

          img {
            position: absolute;
            left: 0;
            top: 50%;
            @include transform(translate(-50%, -50%));

            height: 32px;
            z-index: 1;
          }
        }
      }
    }
  }

}