@import '../../../styles/mixins';
@import '../../../styles/colors';
@import '../../../styles/variables';
@import '../../../styles/fonts';


.navbar__wrapper {
  @include gradient-directional(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.8), 180deg);

  border-bottom: none;

  &.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    @include transition-duration;
  }

  &.have-feed, &.minifying {
    .navbar__content {
      height: 44px;
      img {
        height: 40px;
      }
      .logo {
        .logo_cubego {
          height: 44px;
        }
      }
    }
  }

  .navbar__content {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    height: 60px;
    img {
      height: 50px;
      @include transition-duration;
    }

    .logo {
      height: 100%;
      a {
        height: 100%;
        display: flex;
        align-items: center;
      }
      .logo_cubego {
        height: 56px;
      }
    }

    .text-links {
      height: 100%;
      display: flex;

      .navbar__item {
        padding: 0 20px;
        margin: 0;
        cursor: pointer;
        height: 100%;
        display: flex;
        align-items: center;
        text-transform: uppercase;
        font-family: $f__overpass;
        font-weight: $font-weight-black;
        font-size: $font-size-smaller;
      }
    }

    .img-links {
      height: 100%;
      display: flex;

      .navbar__item {
        padding: 0 20px;
        margin: 0;
        cursor: pointer;
        height: 100%;
        display: flex;
        align-items: center;

        &:hover {
          @include flip-up-down(300ms, 1);
        }
      }

      .navbar__item-dropdown {
        display: flex;
        align-items: center;
        img {
          width: 32px;
          height: auto;
          margin-right: 8px;
        }
      }

      .mobile-menu {
        .widget__dropdown__content {
          font-size: $font-size-header-1;
        }
      }
    }

    .user-info {
      display: flex;
      align-items: center;

      .widget__dropdown {
        height: 100%;
      }

      .user-info__username {
        padding-right: 12px;
        font-size: $font-size-small;
        a {
          text-decoration: none;
          font-style: normal;
          color: inherit;
        }
        .fa-user {
          margin-top: -2px;
          margin-right: 4px;
        }
      }
    }
  }
}

.navbar__wrapper-transform {
  background-color: transparent !important;
  color: $white !important;
  @include gradient-directional(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0), 180deg);
}

@keyframes octocat {
  0%   {top: 50%;}
  8%  {top: 30%;}
  16% {top: 50%;}
  100% {top: 50%;}
}

.githubstar {
  height: 100%;
  cursor: pointer;
  position: relative;

  .githubstar-wrapper {
    width: 80px;
    height: 100%;
    position: relative;
    overflow: hidden;
  }
  .githubstar-img {
    top: 0;
    width: 100%;
    height: auto !important;
    position: absolute;
    animation: octocat 6s infinite;
  }

  .githubstar-text {
    white-space: nowrap;
    transition-duration: 0.08s;
    position: absolute;
    left: 100%;
    height: 0;
    bottom: 0;
    overflow: hidden;
    margin: 0;
  }

  &:hover {
    .githubstar-img {
      top: 0 !important;
    }
    .githubstar-text {
      height: 20px;
    }
  }
}
