@import '../../../styles/mixins';
@import '../../../styles/colors';
@import '../../../styles/variables';
@import '../../../styles/fonts';


.navbar__logo-text {
  font-weight: $font-weight-semi-bold;
  font-size: $font-size-big;
  padding-left: 8px;
  text-transform: capitalize;
  @include mobile {
    display: none;
  }
}
.navbar__wrapper .widget__container.small {
  .navbar__logo-text {
    display: none;
  }
}

.navbar__wrapper {
  @include gradient-directional(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.8), 180deg);;
  border-bottom: none;

  &.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    @include transition-duration();
  }

  .navbar__content {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    min-height: 54px;

    .logo {
      img {
        height: 60px;
      }
    }

    .links {
      display: flex;
      align-items: center;
      .navbar__item {
        padding: 8px 24px;
        margin: 0;
        img {
          height: 32px;
        }
      }
    }

    .user-info {
      display: flex;
      align-items: center;
    }
  }
}

.navbar__wrapper-transform {
  background-color: transparent !important;
  @include gradient-directional(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0), 180deg);
}