@import '../../styles/mixins';
@import '../../styles/colors';
@import '../../styles/variables';
@import '../../styles/fonts';

.inventory-page__container {
  margin-top: 60px;
  margin-bottom: 32px;

  .inventory-header__container {
    box-shadow: inset 0 10px 16px #238ED0;
    background-image: linear-gradient(to bottom, #52ECF5 , #2491D3);
    border-bottom: 2px solid $white;
    display: flex;
    justify-content: center;
    padding: 36px 0;
    .user-info {
      display: flex;
      flex-wrap: wrap;

      .avatar {
        border: 1px solid #75C3F5;
        border-radius: 8px;
        box-shadow: 0px 5px 8px 0px #16639F;
        
        .border-1 {
          border: 3px solid #194379;
          border-radius: 8px;
        }

        .border-2 {
          border: 3px solid #B0EDFB;
          border-radius: 8px;
        }

        img {
          height: 80px;
          width: 80px;
          display: block;
        }


      }

      .details {
        margin-left: 24px;
        color: $white;

        .name {
          font-family: $f__baloobha;
          font-size: $font-size-header-1;
          color: #12314F;
          text-shadow: 0 0 3px white;
          // svg {
          //   position: absolute;
          //   left: 50%;
          //   top: 50%;
          //   transform: translate(-50%, -50%);
          //   z-index: 1;
          // }

          // span {
          //   // position: absolute;
          //   // left: 50%;
          //   // top: 50%;
          //   // transform: translate(-50%, -50%);
          //   z-index: 2;
          //   position: relative;
          //   font-family: $f__baloobha;
          //   font-size: $font-size-big;
            
          // }
        }

        .id {
          margin-top: 3px;
          font-size: $font-size-small;
        }

        .user-properties {
          display: flex;
          flex-direction: row;
          margin-top: 16px;
          margin-left: 16px;

          .user-cubegoes, .user-cubegons {
            display: flex;
            flex-direction: row;
            align-items: center;
            position: relative;
            margin-right: 24px;
            font-family: $f__baloobha;
            font-size: $font-size-bigger;
            img {
              display: block;
              height: 44px;
              position: absolute;
              left: 0;
              top: 50%;
              transform: translate(-50%,-50%);
              z-index: 2;
            }

            span {
              z-index: 1;
              position: relative;
              padding: 5px 36px;
              background-image: linear-gradient(to bottom, #1E84CA, #218ACC, #1963BC);
              clip-path: polygon(0 0, 100% 0, 95% 100%, 5% 100%);
            }
          }
        }
      }
    }
  }

  .cubego-view__container {
    margin-top: 44px;
  }

  .list-item__container {
    display: flex;
    flex-wrap: wrap;
    .card-item {
      width: 25%;
      padding: 16px;
      box-sizing: border-box;

      @include mobile {
        width: 50%;
      }
    }
  }
}