@import '../../styles/colors';
@import '../../styles/mixins';
@import '../../styles/variables';
@import '../../styles/fonts';

.widget__pagination {
  display: flex;
  justify-content: center;

  .item {
    cursor: pointer;
    width: 24px;
    height: 24px;
    background: rgba(23, 45, 74, 1);
    border-radius: 3px;
    color: $white;
    margin: 0 1px;
    line-height: 24px;

    &.active {
      filter: contrast(50%);
    }

    &.disabled {
      background: transparent;
    }
  }
}