@import '../../styles/colors';
@import '../../styles/mixins';
@import '../../styles/variables';
@import '../../styles/fonts';

.widget__slider-bar {
  .main-bar {
    display: flex;
    align-items: center;
    .arrow-left, .arrow-right {
      position: relative;
      img {
        display: block;
        width: 30px;
        margin: 4px;
        &:hover {
          opacity: 0.9;
          cursor: pointer;
        }
      }
    }
    .arrow-left:after, .arrow-right:after {
      position: absolute;
      top: 50%;
      left: 50%;
      @include transform(translateX(-50%) translateY(-50%));
      color: $white;
    }
    .arrow-left:after {
      content: '[Z]';
      padding-left: 8px;

    }
    .arrow-right:after {
      content: '[C]';
      padding-right: 8px;
    }
    .label {
      position: absolute;
      top: 50%;
      left: 50%;
      @include transform(translateX(-50%) translateY(-50%));
      font-family: $f__baloobha;
      color: #5d350f;
      font-size: $font-size-big;
      padding-top: 4px;
    }
    .bar {
      flex-grow: 1;
      position: relative;
      background-color: rgb(255, 237, 163);
      @include border-radius-without-overflow(10px);
    }
    .placeholder {
      opacity: 0;
    }
    .pointer {
      position: absolute;
      top: 0;
      @include transform(translateX(-50%));
    }
    .widget__button-new {
      margin: 0;
    }
  }
}