@import '../../styles/mixins';
@import '../../styles/colors';
@import '../../styles/variables';
@import '../../styles/fonts';

.detail-page__container {
  margin-top: 60px;
}

.model-detail__loading-container {
  padding: 44px 0;
}

.model-detail__main {
  display: flex;
  color: $white;
  padding: 64px 24px 44px 24px;
  align-items: flex-start;
  @include mobile {
    flex-wrap: wrap;
  }

  .model-detail__container {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-right: 12px;
    max-width: 420px;
    flex-shrink: 0;

    @include mobile {
      height: 500px;
      width: 100%;
      margin-bottom: 24px;
      padding: 0;
    }

    .model-review {
      width: 100%;
      background: rgba($color: #369ead, $alpha: 0.2);
      border-radius: 12px;
      position: relative;
      text-align: center;

      .model-review__build {
        text-align: center;
        padding-bottom: 16px;
        cursor: pointer;
        text-decoration: underline;
        display: inline-block;
      }

      .model-editor__3d-capture {
        position: absolute;
        z-index: 2;
        right: 18px;
        top: 18px;
        cursor: pointer;

        img {
          display: block;
          width: 36px;
        }
      }
    }

    .model-info {
      // height: 20%;
      display: flex;
      align-items: center;
      margin: 24px 0 16px 0;
      // width: 55%;
      // transition: all 0.5s;
      // transition-timing-function: ease-in-out;

      span {
        text-align: center;
        flex-grow: 1;
        margin-left: 3px;
        padding: 8px 8px;
        border-top: 1px solid $white;
        border-bottom: 1px solid $white;
        display: flex;
        align-items: center;
        background: #3e4e63;
        justify-content: center;
        cursor: pointer;

        .input-name {
          font-family: $f__baloobha;
          font-size: $font-size-large;
          color: $white;
          border: 0;
          background: transparent;
          outline: none;
          text-align: center;

          padding-top: 2px;
          padding-left: 32px;
          width: 120px;
          max-width: 100%;
          @include transition-duration;
          @include ellipsis;
        }

        img {
          display: block;
          margin-left: 8px;
          padding: 8px 0;
          height: 12px;
          transform: rotate(120deg);
          @include transition-duration;
          cursor: pointer;

          &:hover {
            transform: rotate(60deg);
          }
        }
      }

      .model-logo__container {
        position: relative;

        img {
          position: absolute;
          height: 72px;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          z-index: 1;
        }

        .hexagon-img {
          position: relative;
          width: 75px; 
          height: 43.30px;
          background-color: #3A78B0;
          margin: 21.65px 0;
          border-left: solid 1px $white;
          border-right: solid 1px $white;
  
          &:before, &:after {
            content: "";
            position: absolute;
            z-index: 1;
            width: 53.03px;
            height: 53.03px;
            -webkit-transform: scaleY(0.5774) rotate(-45deg);
            -ms-transform: scaleY(0.5774) rotate(-45deg);
            transform: scaleY(0.5774) rotate(-45deg);
            background-color: inherit;
            left: 9.9835px;
          }
  
          &:before {
            top: -26.5165px;
            border-top: solid 1.4142px $white;
            border-right: solid 1.4142px $white;
          }
  
          &:after {
            bottom: -26.5165px;
            border-bottom: solid 1.4142px $white;
            border-left: solid 1.4142px $white;
          }

        }

      }
    }
  }

  .model-stats {
    flex-grow: 1;
    height: 100%;
    //border: 1px dashed $white;
    box-sizing: border-box;
    border-radius: 12px;
    padding: 24px;
    background-color: rgba(2, 136, 220, 0.44);

    .header {
      border-bottom: 1px solid #69ffcb;
      color: $white;
      font-size: $font-size-normal;
      font-family: $f__baloobha;
      text-transform: uppercase;
      padding-top: 16px;
    }

    .detail-combat {
      border-bottom: 0;
      margin-bottom: 0;
    }

    .owner-info {
      position: relative;
      margin-bottom: 16px;

      .badges {
        display: flex;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);

        .badge__tier-wrapper, .badge__origin-wrapper {
          width: 40px;
          height: 40px;
          position: relative;
          margin-left: 6px;
          img {
            position: absolute;
            left: 50%;
            top: 50%;
            @include transform(translateX(-50%) translateY(-50%));
            pointer-events: none;
          }
        }

        .badge__tier-wrapper {
          img {width: 120px;}
        }
        .badge__origin-wrapper {
          img {width: 110px;}
        }
      }

      .owner-name, .id-info, .timestamp {
        color: $white;
        font-size: $font-size-smaller;

        span {
          margin-left: 8px;
          margin-right: 16px;
          color: $white;
          font-size: $font-size-bigger;
          font-family: $f__baloobha;
        }
      }
      .id-info {
        span {
          font-family: inherit;
          font-size: inherit;
          font-weight: $font-weight-bold;
        }
      }
    }

    .profile-action__container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 16px;
    }

    .profile__container {
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding-top: 8px;
      @include mobile {
        flex-wrap: wrap;
        justify-content: center;
      }

      .cube-statistic {
        width: 180px;
        padding-bottom: 5%;

        svg {
          tspan {
            text-align: center;
            font-size: 100px;

            &:first-child {
              font-size: 72px;
            }
          }
        }

        @include mobile {
          width: 180px;
        }
      }

      .pie-chart__container {
        position: relative;
        width: 150px;
        text-align: center;

        @include mobile {
          width: 160px;
          margin-top: 16px;
        }

        img {
          position: absolute;
          top: calc(50% - 1px);
          left: calc(50% - 3px);
          width: 150%;
          transform: translate(-50%, -50%);
          display: block;
        }

        .octagon-img, .total {
          color: $dark;
          line-height: 44px;
          text-align: center;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }

        .octagon-img {
          width: 56px;
          height: 56px;
        }

        .total {
          display: inline-block;
          font-family: $f__baloobha;
          font-size: $font-size-bigger;
          padding-top: 2px;
        }


      }
      
      .pie-chart {
      }
    }

    .moves__container {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      padding-top: 16px;

      img {
        height: 44px;
      }

      .moves__text {
        font-family: $f__baloobha;
      }
    }

    .combat__container {
      display: flex;
      flex-direction: row;
      justify-content: space-around;

      border-bottom: 1px solid #69ffcb;
      padding: 16px 0;

      .item {
        flex-grow: 1;
        text-align: center;

        .content {
          font-size: $font-size-large;
          color: #a4ffff;
          font-family: $f__baloobha;
        }

        .label {
          font-size: $font-size-small;
          color: $white;
        }

        img {
          width: 44px;
          height: auto;
        }

        &:nth-child(-n+2) {
          border-right: 1px solid $white;
        }
      }
    }


  }
}