@import '../../../styles/mixins';
@import '../../../styles/colors';
@import '../../../styles/variables';
@import '../../../styles/fonts';


.roadmap {
  position: relative;
}
.roadmap__line {
  position: absolute;
  left: 0;
  right: 0;
  top: 45px;
  height: 6px;
  width: 100%;
  @include border-radius(4px);
  @include mobile {
    display: none;
  }
  &:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: calc(100%*13/14);
    background-color: $primary;
  }
  &:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $primary;
    filter: grayscale(1);
  }
}

.roadmap__checkpoints {
  display: flex;
  position: relative;
  .roadmap__checkpoint {
    width: 20%;
    padding: 0 8px;

    @include mobile {
      width: 100%;
    }
  }
  @include mobile {
    flex-wrap: wrap;
  }
}

.roadmap__checkpoint {
  text-align: center;
  .roadmap__checkpoint-header {
    display: inline-block;
    margin-bottom: 0;
    text-transform: uppercase;
    font-family: $f__baloobha;
    font-size: $font-size-big;
    font-weight: $font-weight-normal;
    color: $curious_blue;
  }

  .roadmap__checkpoint-line {
    width: 1px;
    height: 20px;
    margin: 0 auto;
    background-color: $primary;
    @include mobile {
      height: 10px;
    }
  }

  .roadmap__checkpoint-ball {
    width: 12px;
    height: 12px;
    position: relative;
    margin: 0 auto;

    .ball-wrapper {
      position: absolute;
      top: 50%;
      left: 50%;
      @include transform(translateX(-50%) translateY(-50%));
      width: 100%;
      height: 100%;
      padding: 1px;
      @include border-radius-without-overflow(4px);
      box-shadow: 0 0 2px $c__gray-2;
      background-color: $curious_blue;
    }
    img {
      width: 100%;
      height: 100%;
    }
  }

  .roadmap__checkpoint-content {
    padding-top: 12px;
    font-size: $font-size-normal;
    font-family: $f__baloobha;
    b {
      text-transform: uppercase;
    }
    div {
      position: relative;
      padding-bottom: 12px;
    }
  }

  &.future {
    //filter: grayscale(1);
  }
  &.present {
    .roadmap__checkpoint-ball {
      .ball-wrapper {
        width: 20px;
        height: 20px;
        background-color: $regal_blue;
      }
    }
  }
}