@import '../../styles/colors';
@import '../../styles/mixins';
@import '../../styles/variables';
@import '../../styles/fonts';

.widget__parallelogram {
  position: relative;

  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) skewX(-20deg);
    color: $white;
    font-family: $f__baloobha;
    font-size: $font-size-large;
    width: 100%;
  }

  .main-content {
    top: 2px;
    position: relative;
    transform: skewX(20deg);
    height: 44px;
    width: calc(100% + 26px);
    left: -13px;
    background: $regal_blue;
    overflow: hidden;
    z-index: 2;
  }

  .border-layer {
    position: absolute;
    transform: translate(-50%, -50%);
    height: calc(100% - 8px);
    width: calc(100% - 8px);
    left: 50%;
    top: 50%;
    z-index: 3;
    box-sizing: border-box;
    border: 1px solid $white;
    overflow: hidden;
  }

  .shadow-layer {
    position: absolute;
    left: -8px;
    width: calc(100% + 16px);
    height: 60%;
    background: rgba(69, 103, 120, 1);
    clip-path: polygon(8px 0%, 100% 0, 100% 0, 0% 80%);
    z-index: 1;
  }
  
}
