@import '../../../styles/mixins';
@import '../../../styles/colors';
@import '../../../styles/variables';
@import '../../../styles/fonts';

.register-popup {
  text-align: center;
  color: $white95;

  .register-popup__app {
    background-color: $regal_blue;
    padding: 32px;
    img {
      width: 160px;
    }
    .header {
      color: $c__text__orange;
      font-family: $f__baloobha;
      font-size: $font-size-header-1;
    }
    .desc {
      padding-top: 4px;
      font-size: $font-size-big;
    }
    .btns {
      padding-top: 20px;
    }
  }

  .sign-in-manual {
    padding-top: 100px;

    .header {
      color: $c__text__blue;
    }

    .err {
      color: $c__text__red;
    }

    .widget__input {
      label {
        color: $white;
      }
    }
  }
}