@import '../../styles/colors';
@import '../../styles/mixins';
@import '../../styles/variables';
@import '../../styles/fonts';

.coming-soon {
  padding-top: 200px;
  text-align: center;
  color: $c__text__orange;
  min-height: 400px;
  font-size: 50px;
  font-family: $f__baloobha;
}