@import '../../../styles/mixins';
@import '../../../styles/colors';
@import '../../../styles/variables';
@import '../../../styles/fonts';


.toggle-tool {
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  cursor: pointer;
  padding: 2px 4px;
  @include border-radius(4px);

  .toggle-tool__img {
    position: relative;
    img {
      display: inline-block;
      height: 42px;
    }
  }

  .toggle-tool__label {
    width: 70px;
    text-align: center;
    //word-break: break-all;
    white-space: nowrap;
    position: absolute;
    top: 100%;
    left: 50%;
    @include transform(translateX(-50%));
    font-size: $font-size-tiny;
    font-family: $f__overpass;
    font-weight: $font-weight-extra-bold;
  }

  &.active {
    background-color: rgba(50, 100, 125, 0.6);
    img {
      filter: none;
    }
  }

  &.disabled {
    pointer-events: none;
    img {
      filter: grayscale(1);
    }
  }

  &:hover {
    background-color: rgba(50, 100, 125, 0.6);
  }
}