@import '../../../styles/mixins';
@import '../../../styles/colors';
@import '../../../styles/variables';


.toggle-tool {
  width: 100%;
  text-align: center;
  cursor: pointer;
  position: relative;

  .toggle-tool__img {
    img {
      display: inline-block;
      width: 48px;
      filter: grayscale(0.5);
    }
  }

  .toggle-tool__label {
    width: 80px;
    word-break: break-all;
    position: absolute;
    top: 100%;
    left: 50%;
    @include transform(translateX(-50%));
  }

  &.active {
    img {
      filter: none;
    }
  }

  &.disabled {
    pointer-events: none;
    img {
      filter: grayscale(1);
      opacity: 0.5;
    }
  }
}