@import '../../../styles/mixins';
@import '../../../styles/colors';
@import '../../../styles/variables';


.toggle-tool {
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  cursor: pointer;
  padding: 4px 8px;

  .toggle-tool__img {
    position: relative;
    img {
      display: inline-block;
      height: 30px;
      filter: grayscale(0.5);
      padding-top: 12px;
    }
  }

  .toggle-tool__label {
    width: 70px;
    text-align: center;
    word-break: break-all;
    position: absolute;
    top: 100%;
    left: 50%;
    @include transform(translateX(-50%));
    font-size: $font-size-smaller;
  }

  &.active {
    background-color: $primary;
    img {
      filter: none;
    }
  }

  &.disabled {
    pointer-events: none;
    img {
      filter: grayscale(1);
      opacity: 0.5;
    }
  }

  &:hover {
    background-color: $primary;
  }
}