
@import '../../styles/colors';
@import '../../styles/mixins';
@import '../../styles/variables';
@import '../../styles/fonts';

@keyframes xaxis-change {
  0% { transform: translateY(-44px); }
  100% { transform: translateY(0);}
}

#quantity-bar__next-button {
  &:hover ~ #plus {
    stroke: $white;
  }
}

#plus, #subtract {
  &:hover {
    stroke: $white;
  }
}

#quantity-bar__prev-button {
  &:hover ~ #subtract {
    stroke: $white;
  }
}

#CustomRectangle {
  // display: none;
}

.arrow-down {
  .line-1 {
    animation: xaxis-change 1s linear 0s infinite alternate;
  }
  .line-2 {
    animation: xaxis-change 1s linear 0s infinite alternate;
  }
}