@import '../../styles/colors';
@import '../../styles/mixins';
@import '../../styles/variables';
@import '../../styles/fonts';

.widget__countdown {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: $white;
  justify-content: center;
  font-size: $font-size-header-3;
  font-family: $f__baloobha;
  .group {
    margin: 0 8px;
    width: 32px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .label {
    font-family: $f__overpass;
    font-size: $font-size-big;
  }
}