@import '../../styles/colors';
@import '../../styles/mixins';
@import '../../styles/variables';
@import '../../styles/fonts';


.widget__button-new {
  margin: 4px;
  font-family: $f__baloobha !important;
  font-weight: $font-weight-normal;
  text-transform: capitalize;
  text-align: center;
  cursor: pointer;
  position: relative;
  display: inline-flex;
  color: $white95;

  .content {
    padding-top: 4px;
    opacity: 1;
    @include transition-duration;
  }
  .transform {
    opacity: 0;
    z-index: 1;
    position: absolute;
    top: -1px;
    bottom: -1px;
    left: -1px;
    right: -1px;
    @include transition-duration;
    display: flex;

    .item {
      height: 100%;
      width: 50%;
      text-align: center;
      display: block;
      img {
        height: 100%;
        padding: 4px;
      }
    }
    @include mobile {
      opacity: 1;
      position: relative;
      height: 42px;
    }
  }

  &.token:hover {
    @include not-mobile {
      .content {
        opacity: 0;
        z-index: 1;
      }
      .transform {
        opacity: 1;
        z-index: 2;
      }
    }
  }

  &.turquoise {
    background-color: #77E9E5;
    border-bottom: 4px solid #448f93;

    &:hover {
      background-color: rgb(100, 163, 161);
    }
  }

  &.black_no_shadow {
    background-color: $black20;
    border-bottom: 0px solid transparent;

    .transform {
      background-color: $c__red-1;
    }
    .transform .item:hover {
      background-color: $c__orange-3;
    }
    &:hover {
      background-color: $c__orange-4;
    }
  }

  &.grey_no_shadow {
    background-color: $grey;
    border-bottom: 0px solid transparent;

    .transform {
      background-color: $c__red-1;
    }
    .transform .item:hover {
      background-color: $c__orange-3;
    }
    &:hover {
      background-color: $c__orange-4;
    }
  }
  &.green {
    background-color: $green_vista;
    border-bottom: 4px solid $green-lochinvar;

    .transform {
      background-color: $c__red-1;
    }
    .transform .item:hover {
      background-color: $c__orange-3;
    }
    &:hover {
      background-color: $c__orange-4;
    }
  }
  &.orange {
    background-color: $c__orange-5;
    border-bottom: 4px solid $c__red-1;

    .transform {
      background-color: $c__red-1;
    }
    .transform .item:hover {
      background-color: $c__orange-3;
    }
    &:hover {
      background-color: $c__orange-4;
    }
  }
  &.blue {
    background-color: $c__blue-1;
    border-bottom: 4px solid $c__blue-2;

    .transform {
      background-color: $c__blue-1;
    }
    .transform .item:hover {
      background-color: $c__blue-2;
    }
    &:hover {
      background-color: $c__blue-2;
    }
  }
  &.grey {
    background-color: $c__gray-2;
    border-bottom: 4px solid $c__gray-1;

    .transform {
      background-color: $c__gray-2;
    }
    .transform .item:hover {
      background-color: $c__gray-1;
    }
    &:hover {
      background-color: $c__gray-1;
    }
  }
  &.neon {
    //background-color: $c__gray-2;
    //border-bottom: 4px solid $c__gray-1;

    .transform {
    }
    .transform .item:hover {
      background-color: $blue-neon;
    }
    &:hover {
      background-color: $blue-neon;
    }
  }

  &.fluid {
    display: block;
  }

  &.small {
    padding: 2px 8px;
    font-size: $font-size-tiny;
    @include border-radius-without-overflow(4px);
    text-transform: lowercase;
  }
  &.normal {
    padding: 6px 12px;
    font-size: $font-size-small;
    @include border-radius-without-overflow(6px);
  }
  &.big {
    padding: 12px 24px;
    font-size: $font-size-normal;
    @include border-radius-without-overflow(6px);
  }

  &.disabled {
    opacity: 0.8;
    pointer-events: none;
    filter: grayscale(1);
  }

  &.loading {
    pointer-events: none;
  }

  &.both, &.left {
    &:before {
      content: '';
      position: absolute;
      background: url('../../../shared/img/assets/btn_effect_reverse.png') no-repeat center;
      display: block;
      width: 40px;
      height: 40px;
      left: -44px;
      top: 0;
    }
  }
  &.both, &.right {
    &:after {
      content: '';
      position: absolute;
      background: url('../../../shared/img/assets/btn_effect.png') no-repeat center;
      display: block;
      width: 40px;
      height: 40px;
      right: -44px;
      top: 0;
    }
  }
}