@import '../../../styles/mixins';
@import '../../../styles/colors';
@import '../../../styles/variables';
@import '../../../styles/fonts';

.signup__container {
  display: flex;
  color: $white;
  background: url('../../../../shared/img/background/background_blue_dark.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 32px 32px 24px 32px;

  .welcome-to {
    position: relative;
    width: 30%;
    font-family: $f__baloobha;
    font-size: 40px;
    border-right: 1px solid $dark;
    text-align: left;
    text-transform: uppercase;
    padding-right: 20px;
    z-index: 1;
    @include mobile {
      display: none;
    }

    img {
      position: absolute;
    }

    .cube_red {
      top: -36px;
      left: 80%;
      width: 44px;
      height: auto;
      @include flip-up-down-10px(5.5s);
    }

    .cube_blue {
      top: 20%;
      left: -26px;
      width: 44px;
      @include flip-up-down-10px(5.7s);
    }

    .cube_yellow {
      right: -26px;
      width: 72px;
      bottom: 24px;
      @include flip-up-down-10px(5.9s);
    }

    .plus_image {
      top: 50%;
      right: 50%;
      width: 24px;
      @include flip-up-down-10px(6.3s);
    }

    .cubegon_image {
      bottom: 0;
      right: 0;
      width: 120%;
    }
  }

  .signup-form__container {
    flex-grow: 1;
    padding-left: 48px;
    position: relative;
    @include mobile {
      padding-left: 0;
    }

    .signup__label {
      font-family: $f__baloobha;
      font-size: $font-size-header-2;
      color: $c__text__orange;
      text-align: left;
      padding-bottom: 12px;
    }

    .error__label {
      padding: 16px 0 8px 0;
      color: $c__text__red;
      font-weight: $font-weight-bold;
      font-size: $font-size-small;
    }

    .success__label {
      padding: 16px 0 8px 0;
      color: $c__text__green;
      font-weight: $font-weight-bold;
      font-size: $font-size-small;
    }

    label {
      font-size: $font-size-smaller;
      padding-top: 8px;
      color: $c__text__blue;
    }

    input[type=text] {
      //color: $c__text__blue-2;
    }

    input[type=checkbox] {
      margin-right: 8px;
      margin-top: 16px;
    }

    .field-note {
      color: $c__text__orange;
      font-size: $font-size-tiny;
      text-align: left;
    }

    .term-policy__label {
      font-size: $font-size-smaller;
      color: $white-dark;
    }

    .register__button {
      margin-top: 16px;
      text-transform: uppercase;
    }

  }

  &.simplified {
    .welcome-to {
      display: none;
    }
    .signup-form__container {
      padding-left: 0;
    }
  }
}