@import '../../styles/colors';
@import '../../styles/mixins';
@import '../../styles/variables';

.widget__page-wrapper {
  min-height: 700px;

  &.dark {
    background: url('../../../shared/img/background/bgr.jpeg') no-repeat center center fixed;
    background-size: cover;
  }
}
