@import '../../styles/colors';
@import '../../styles/mixins';
@import '../../styles/variables';

.widget__page-wrapper {
  min-height: 700px;

  &.normal {
    background-image: linear-gradient(#ffffff, rgba(255, 255, 255, 0.9npm ));
  }

  &.dark {
    background-image: linear-gradient(#54697c, rgba(104, 197, 198, 0.96));
  }

  &.blue-dark {
    background: url('../../../shared/img/background/background_blue_dark.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  &.blue {
    background: url('../../../shared/img/background/background_blue.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  &.gradient-blue {
    background: url('../../../shared/img/background/background_gradient_blue.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  &.blue-new {
    background: url('../../../shared/img/background/background-new.jpg') repeat center center;
    -webkit-background-size: 100% auto;
    -moz-background-size: 100% auto;
    -o-background-size: 100% auto;
    background-size: 100% auto;
  }
}
