@import '../../styles/colors';
@import '../../styles/mixins';
@import '../../styles/variables';
@import '../../styles/fonts';


.cubego-card__container {
  width: 100%;
  display: inline-block;
  border: 2px solid $regal_blue;
  text-align: center;
  border-radius: 5px;
  position: relative;

  img {
    display: block;
    width: 100%;
    height: auto;
    position: relative;
    z-index: 1;
  }

  .background__image {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 0;
  }

  .quantity {
    padding: 8px 0;
    width: 100%;
    background: $regal_blue;
    color: $white;
    font-size: $font-size-smaller;
    position: relative;
    z-index: 1;
    span {
      margin-left: 8px;
      font-family: $f__baloobha;
      font-size: $font-size-large;
    }
  }

  .type__container {
    position: relative;
    background: $regal_blue;

    .content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) skewX(-20deg);
      color: $white;
      font-family: $f__baloobha;
      font-size: $font-size-large;
    }

    .type-content {
      top: 2px;
      position: relative;
      transform: skewX(20deg);
      height: 36px;
      width: calc(100% + 16px);
      left: -8px;
      background: $regal_blue;
      overflow: hidden;
      z-index: 2;
    }

    .border-layer {
      position: absolute;
      transform: translate(-50%, -50%);
      height: calc(100% - 8px);
      width: calc(100% - 8px);
      left: 50%;
      top: 50%;
      z-index: 3;
      box-sizing: border-box;
      border: 1px solid $white;
    }

    .shadow-layer {
      position: absolute;
      left: -8px;
      width: calc(100% + 16px);
      height: 60%;
      background: rgba(69, 103, 120, 1);
      clip-path: polygon(8px 0%, 100% 0, 100% 0, 0% 80%);
      z-index: 1;
    }
    
  }
}