@import '../../styles/colors';
@import '../../styles/mixins';
@import '../../styles/variables';
@import '../../styles/fonts';


.cubego-card__container {
  width: 100%;
  display: inline-block;
  border: 2px solid #75C3F5;
  text-align: center;
  border-radius: 5px;
  position: relative;
  font-family: $f__baloobha;
  color: $white;
  box-shadow: 0px 0px 8px 3px #59ADE3;

  .border-1 {
    border: 2px solid #19447C;
    border-radius: 5px;
  }

  .border-2 {
    border: 5px solid #C1F1FC;
    border-radius: 5px;
    background: #051527;
  }

  .stats {
    background: #12314F;
    height: 60px;

    display: flex;
    flex-direction: row;

    .item {
      color: #9DF2F1;
      margin: 8px 0;
      font-size: $font-size-small;
      font-weight: $font-weight-bold;
      font-family: $f__overpass;
      width: 50%;
      &:first-child {
        border-right: 2px solid white;
      }

      .value {
        padding-top: 4px;
        color: $white;
        font-size: $font-size-large;
        font-family: $f__baloobha;
        font-weight: $font-weight-normal;
      }
    }

  }

  .footer {
    position: relative;
    height: 20px;
  }

  .type {
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    height: 44px;
    width: calc(100% + 24px);

    span {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      font-size: $font-size-header-1;
    }
  }

  img {
    display: block;
    width: 100%;
    height: auto;
    position: relative;
    z-index: 1;
  }

  .quantity {
    position: absolute;
    right: 16px;
    top: 16px;
    font-size: $font-size-header-1;
    @include mobile {
      font-size: $font-size-large;
    }

    .fas {
      font-size: $font-size-tiny;
      color: $white;
      padding-right: 2px;
    }
  }
}