@import '../../../styles/mixins';
@import '../../../styles/colors';
@import '../../../styles/variables';


.color-tool {
  display: flex;

  .color-tool__list {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    max-width: calc(40px * 8);
  }

  .color-tool__cell, {
    width: calc(100% / 8);
    cursor: pointer;
    border: 1px solid $c__gray-1;
    box-sizing: border-box;

    &:after {
      content: "";
      display: block;
      padding-bottom: 100%;
    }

    &.selected__container {
      margin-left: 16px;
      border: 1px solid transparent;

      .selected {
        border: 1px solid $c__gray-1;
        position: relative;
        width: 100%;
        &:before {
          content: "";
          display: block;
          padding-top: 100%;
        }
      }
    }
  }

}