@import '../../../styles/mixins';
@import '../../../styles/colors';
@import '../../../styles/variables';


.color-tool {

  .color-tool__list {
    display: flex;
    flex-wrap: wrap;
    max-width: calc(40px * 8);
  }
  .color-tool__cell {
    width: calc(100% / 8);
    cursor: pointer;
    border: 1px solid $c__gray-1;
    box-sizing: border-box;

    &:after {
      content: "";
      display: block;
      padding-bottom: 100%;
    }

    &.selected {
      width: 40px;
      margin-bottom: 4px;
    }
  }
}