@import '../../../styles/mixins';
@import '../../../styles/colors';
@import '../../../styles/variables';


.color-tool {
  display: flex;
  justify-content: center;

  .color-tool__list {
    display: flex;
    flex-wrap: wrap;
  }

  .color-tool__cell {
    width: 40px;
    cursor: pointer;
    border: 1px solid transparent;
    box-sizing: border-box;

    img {
      display: block;
      width: 100%;
    }

    &.selected {
      border: 2px solid $primary-light;
    }
  }

}