@import '../../../styles/colors';
@import '../../../styles/mixins';
@import '../../../styles/variables';
@import '../../../styles/fonts';

.tutorial__wrapper {
  position: relative;
  text-align: center;
  padding: 40px 20px;
  .header {
    position: relative;
    display: inline-block;
    width: 250px;
    text-align: center;

    .header__label {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-transform: capitalize;
    }
  }

  .title {
    padding: 24px 0;
  }
  
  .section {
    padding: 8px 0;
    img {
      height: 88px;
      width: auto;

      &.content-4, &.content-5 {
        height: 64px;
      }

      @include mobile {
        &.content-1, &.content-3, &.content-4 {
          max-width: 100%;
          height: auto !important;
        } 
      }
      
    }
  }


}