@import '../../../styles/colors';
@import '../../../styles/mixins';
@import '../../../styles/variables';
@import '../../../styles/fonts';

.show-room__loader {
  text-align: center;
}

.show-room__wrapper {
  .list-item__container {
    margin: 0 -16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .card-item {
      width: 33%;
      padding: 16px 16px 8px 16px;
      box-sizing: border-box;

      @include mobile {
        width: 100%;
      }

      &.tag-cubego {
        width: 25%;
        @include mobile {
          width: 50%;
        }
      }
    }
  }
}