@import '../../styles/colors';
@import '../../styles/mixins';
@import '../../styles/variables';

.widget__carousel {
  position: relative;
  height: 100%;

  .next {
    right: 15%;
  }

  .prev {
    left: 15%;
  }

  .nav-arrow {
    z-index: 99;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: 0.5px solid $gray;
    padding: 12px;
    border-radius: 8px;
    cursor: pointer;

    &:hover {
      background-color: $gray-light;
      img {
        filter: grayscale(1);
      }
    }

    img {
      width: 24px;
      height: 24px;
      display: block;
    }
  }

  .item {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    @include transition-duration(1600ms);

    &.active {
      z-index: 1;
      opacity: 1;
    }

    img {

    }

    .item__title {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 0px;
      padding: 8px;
      border: 0.5px solid $gray;
      border-radius: 8px;
    }
  }

  .dots {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    z-index: 2;
    left: 50%;
    @include transform(translateX(-50%));
    bottom: 0px;

    .padding-right, .padding-left {
      width: auto;
      height: 8px;
      flex-grow: 1;
      padding: 0 16px;
    }

    .padding-left {
      order: 2;
    }

    .padding-right {
      order: 4;
    }

    .dot__container {
      cursor: pointer;
      height: 16px;
      display: block;
      position: relative;
      text-align: center;
      &.active {
        .dot {
          background-color: $c__orange-5;
          box-shadow: 0px 3px 1px 0px $c__red-1;
        }

        .dot__text {
          color: $c__orange-5;
        }
      }

      .dot {
        background-color: $violet;
        width: 16px;
        height: 16px;
        border-radius: 3px;
        box-shadow: 0px 3px 1px 0px #54447A;
      }

      .dot__text {
        position: absolute;
        bottom: -44px;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 8px;
        padding: 5px 12px;
        background-color: #E1E1E1;
      }

      &:nth-child(1) {
        order: 1
      }

      &:nth-child(2) {
        order: 3
      }

      &:nth-child(3) {
        order: 5
      }
    }
  }
}