@import '../../styles/colors';
@import '../../styles/mixins';
@import '../../styles/variables';

.widget__carousel {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  overflow-Y: hidden;
  overflow-x: hidden;

  .next {

    &.horizontal {
      right: -85%;
      top: 50%;
      transform: translateY(-50%);
      @include mobile {
        right: -100%;
      }
    }


    &.vertical {
      right: 50%;
      top: calc(100% - 44px);
      transform: rotate(-90deg) translateY(50%);
      @include mobile {
        right: 50%;
        transform: rotate(-90deg) translateY(50%);
      }
    }
  }

  .prev {

    &.horizontal { 
      left: 115%;
      top: 50%;
      transform: translateY(-50%);
      @include mobile {
        left: 100%;
      }
    }

    &.vertical { 
      right: 50%;
      top: 200%;
      transform: rotate(-90deg) translateY(50%);
      @include mobile {
        right: 50%;
        transform: rotate(-90deg) translateY(50%);
      }
    }
  }

  .nav-arrow {
    z-index: 99;
    position: absolute;
    border: 0.5px solid $gray;
    padding: 12px;
    border-radius: 8px;
    visibility: hidden;
    cursor: pointer;

    &.visible {
      visibility: visible;
    }

    &.hidden {
      @include mobile {
        visibility: visible;
      }
    }

    &:hover {
      background-color: $gray-light;
      img {
        filter: grayscale(1);
      }
    }

    img {
      width: 24px;
      height: 24px;
      display: block;
    }
  }

  .widget__carousel-list {
    height: 400px;
    display: flex;
    order: 1;
    box-sizing: border-box;
    position: relative;

    @include mobile {
      width: 100% !important;
    }

    .item {
      flex: 1 0 100%;
      flex-basis: 100%;
      position: relative;
      transition-property: opacity;
      opacity: 0;
      @include transition-duration(1.3s);
  
      &.active {
        z-index: 1;
        opacity: 1;
      }
  
      img {
  
      }
  
      .item__title {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 0px;
        padding: 8px;
        border: 0.5px solid $gray;
        border-radius: 8px;
      }
    }
  }

  .indicators {
    flex-grow: 1;
    display: inline-flex;
    // flex-direction: row;
    justify-content: space-around;
    align-items: center;
    z-index: 2;
    // left: 50%;
    // @include transform(translateX(-50%));
    // bottom: 0px;
    // max-width: 100%;

    &.custom {
      @include mobile {
        display: none;
        width: 0 !important;
      }
    }

    .disabled {
      display: none;
    }

    .padding-right, .padding-left {
      width: auto;
      height: 8px;
      flex-shrink: 1;
      flex-grow: 1;
      padding: 0 16px;

      @include mobile {
        max-width: 65%;
        height: 3px;
      }
    }

    .padding-left {
      order: 2;
    }

    .padding-right {
      order: 4;
    }

    .indicator__container {
      cursor: pointer;
      // height: 16px;
      display: block;
      position: relative;
      text-align: center;
      &.active {
        .indicator {
          background-color: $c__orange-5;
          box-shadow: 0px 3px 1px 0px $c__red-1;
        }

        .indicator__text {
          color: $c__orange-5;
        }
      }

      .indicator {
        background-color: $violet;
        width: 16px;
        height: 16px;
        border-radius: 3px;
        box-shadow: 0px 3px 1px 0px #54447A;
      }

      .indicator__text {
        position: absolute;
        bottom: -44px;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 8px;
        padding: 5px 12px;
        background-color: #E1E1E1;
      }

      &:nth-child(1) {
        order: 1
      }

      &:nth-child(2) {
        order: 3
      }

      &:nth-child(3) {
        order: 5
      }
    }
  }
}